AI Tender project.json
{
  "name": "AI Tender project",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -32
      ],
      "id": "6c8757ae-ad9c-4d76-a1c5-c5d5fd7de8fe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.2merkato.com/tenders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -144,
        -32
      ],
      "id": "f0eb1acb-8059-475a-a46d-09d1ea71d150",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uXgil8qRvKoVf1qpvgQzzVGE01QQUHs4tD3XM4i8HO8",
          "mode": "list",
          "cachedResultName": "AI Tender Project",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uXgil8qRvKoVf1qpvgQzzVGE01QQUHs4tD3XM4i8HO8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uXgil8qRvKoVf1qpvgQzzVGE01QQUHs4tD3XM4i8HO8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -32
      ],
      "id": "b8f422ed-fcd5-43fe-88fe-c104cf38cb06",
      "name": "Get row(s) in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wyS0tZZ32tYS3mRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tender Title: {{ $json.Title }} Company: {{ $json.Company }} Closing Date: {{ $json.ClosingDate }} Published: {{ $json.PublishedAt }} Link: {{ $json.Link }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a procurement analyst for an IT company in Ethiopia.  Analyze the tender and return ONLY valid JSON: {   \"category\": \"Networking|Software|Hardware|IT Support|Construction|Medical|Furniture|Agriculture|Finance|Other\",   \"match_score\": 0-100 (relevance to IT/Networking/Software),   \"reason\": \"One sentence\",   \"deadline\": \"Date or Not specified\",   \"budget\": \"Amount or Not specified\",   \"competition\": \"Low|Medium|High\" }  We provide: Network Infrastructure, Server Deployment, Cybersecurity, Software Development, IT Support, Cloud Services.  Return ONLY JSON. No extra text."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        640,
        -48
      ],
      "id": "b8410a6c-33a0-4d53-9bcc-82600811c944",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 1024,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        576,
        272
      ],
      "id": "f87b91f4-441c-4092-8bec-12a1a9270693",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "KjQkJg1KCpaFLoM2",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw HTML string from the HTTP Request node\nconst html = $input.first().json.data;\n\n// 2. Use Regex to find the hidden JSON inside the 'data-page' attribute\nconst match = html.match(/data-page=\"([^\"]+)\"/);\n\nif (!match) {\n  throw new Error(\"Could not find the tender data. The website structure might have changed.\");\n}\n\nlet jsonString = match[1];\n\n// 3. Decode HTML entities (convert &quot; back to normal quotes \")\njsonString = jsonString.replace(/&quot;/g, '\"')\n                       .replace(/&amp;/g, '&')\n                       .replace(/&#039;/g, \"'\")\n                       .replace(/&lt;/g, '<')\n                       .replace(/&gt;/g, '>');\n\n// 4. Parse the hidden JSON data\nconst pageData = JSON.parse(jsonString);\n\n// 5. Extract the tenders array from the JSON\nconst tenders = pageData.props.tenders.data;\n\n// 6. Format the data into clean items for the next nodes\nreturn tenders.map(tender => {\n  return {\n    json: {\n      Title: tender.title,\n      Link: `https://tender.2merkato.com/tenders/${tender.id}`,\n      Company: tender.company ? tender.company.name_en : 'Unknown',\n      ClosingDate: tender.bid_closing_date || 'N/A',\n      PublishedAt: tender.published_at || 'N/A',\n      ID: tender.id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -32
      ],
      "id": "954914d8-3a54-41b9-8c0a-dd02acef0519",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the 15 fresh tenders from our scraper (Code1)\n// Note: Make sure 'Code1' matches the exact name of your first Code node!\nconst freshTenders = $('Code1').all();\n\n// 2. Get the list of already processed tenders from Google Sheets\nconst processedTenders = $input.all();\n\n// 3. THE MAGIC FIX: If the sheet is empty, just pass all fresh tenders through!\nif (processedTenders.length === 0) {\n  console.log(\"Google Sheet is empty. Passing all fresh tenders through.\");\n  return freshTenders;\n}\n\n// 4. Create a list of IDs we've already seen\nconst processedIds = new Set(\n  processedTenders.map(t => t.json.ID)\n);\n\n// 5. Filter: Keep only tenders whose ID is NOT in our processed list\nconst newTenders = freshTenders.filter(tender => {\n  return !processedIds.has(tender.json.ID);\n});\n\n// 6. Log the results\nconsole.log(`Found ${newTenders.length} new tenders out of ${freshTenders.length} total`);\n\nreturn newTenders;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -32
      ],
      "id": "3a2eb23c-b7d6-4b45-8400-a16634250f75",
      "name": "Code2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f0bc792a-501f-4e18-bd03-4e1e83b2b01a",
              "leftValue": "={{ $json.match_score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        -32
      ],
      "id": "e49e40ce-fe72-4910-af1f-3f2b0359b5cc",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "547373610",
        "text": "=🚀 <b>NEW HIGH-MATCH TENDER FOUND!</b> 🚀\n\n📌 <b>Title:</b> {{ $('Code2').item.json.Title }}\n🏢 <b>Company:</b> {{ $('Code2').item.json.Company }}\n🎯 <b>Match Score:</b> {{ $json.match_score }}%\n🏷️ <b>Category:</b> {{ $json.category }}\n💡 <b>Reason:</b> {{ $json.reason }}\n⏳ <b>Deadline:</b> {{ $json.deadline }}\n📊 <b>Competition:</b> {{ $json.competition }}\n\n🔗 <b>Link:</b> {{ $('Code2').item.json.Link }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        -160
      ],
      "id": "31a17177-4199-46b4-9c10-4fad91c65618",
      "name": "Send a text message",
      "webhookId": "3dc0479f-5ce4-497c-be4d-5b85918a6934",
      "credentials": {
        "telegramApi": {
          "id": "tPDnwsrprqWCiPDV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uXgil8qRvKoVf1qpvgQzzVGE01QQUHs4tD3XM4i8HO8",
          "mode": "list",
          "cachedResultName": "AI Tender Project",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uXgil8qRvKoVf1qpvgQzzVGE01QQUHs4tD3XM4i8HO8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uXgil8qRvKoVf1qpvgQzzVGE01QQUHs4tD3XM4i8HO8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Code2').item.json.Title }}",
            "Link": "={{ $('Code2').item.json.Link }}",
            "ID": "={{ $('Code2').item.json.ID }}",
            "Company": "={{ $('Code2').item.json.Company }}",
            "Category": "={{ $('If').item.json.category }}",
            "Match_Score": "={{ $('If').item.json.match_score }}",
            "Reason": "={{ $('If').item.json.reason }}",
            "Deadline": "={{ $('If').item.json.deadline }}",
            "Date_Added": "={{ $now.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match_Score",
              "displayName": "Match_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date_Added",
              "displayName": "Date_Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        -128
      ],
      "id": "eecf097c-5058-4df5-b218-a1d585ea7344",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wyS0tZZ32tYS3mRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        400,
        320
      ],
      "id": "e2e67864-7e0c-4bc9-ade6-2f0216bbabe0",
      "name": "Wait",
      "webhookId": "05674188-bdd3-4642-a5e0-8227c01ad5ef"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const rawText = item.json.text || item.json.output || \"\";\n  const match = rawText.match(/\\{[\\s\\S]*\\}/);\n  \n  if (match) {\n    try {\n      const parsedJson = JSON.parse(match[0]);\n      results.push({ json: parsedJson });\n    } catch (error) {\n      results.push({ json: { error: \"Parse failed\", raw: rawText } });\n    }\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        224
      ],
      "id": "8b0fc9ee-f55b-44ed-aaaf-d7a4d28b01d0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        96,
        256
      ],
      "id": "aac4c393-88cf-4dc6-afa9-73bcbf898687",
      "name": "Limit"
    }
  ],
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "data": "<!doctype html>\n\n<html lang=\"en\" class=\"h-full\">\n\n<head>\n  <meta charset=\"UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n\n<link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/favicon/apple-touch-icon.png\" />\n<link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/favicon/favicon-32x32.png\" />\n<link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/favicon/favicon-16x16.png\" />\n<link rel=\"icon\" type=\"image/svg+xml\" href=\"/favicon/favicon.ico\" />\n<link rel=\"shortcut icon\" href=\"/favicon/favicon.ico\">\n<link rel=\"manifest\" href=\"/favicon/site.webmanifest\" />\n<meta name=\"msapplication-TileColor\" content=\"#da532c\" />\n<meta name=\"theme-color\" content=\"#ffffff\" />\n\n\n<link rel=\"preload\" as=\"style\" href=\"https://tender.2merkato.com/build/assets/app-B88LIc2F.css\" /><link rel=\"preload\" as=\"style\" href=\"https://tender.2merkato.com/build/assets/preload-helper-D_jZoOQf.css\" /><link rel=\"modulepreload\" as=\"script\" href=\"https://tender.2merkato.com/build/assets/app-Jntif2mf.js\" /><link rel=\"modulepreload\" as=\"script\" href=\"https://tender.2merkato.com/build/assets/chunk-QTnfLwEv.js\" /><link rel=\"modulepreload\" as=\"script\" href=\"https://tender.2merkato.com/build/assets/preload-helper-Hpmv-0H-.js\" /><link rel=\"modulepreload\" as=\"script\" href=\"https://tender.2merkato.com/build/assets/index.esm-DBoD5Lu6.js\" /><link rel=\"modulepreload\" as=\"script\" href=\"https://tender.2merkato.com/build/assets/Sonner-CHs6FItX.js\" /><link rel=\"modulepreload\" as=\"script\" href=\"https://tender.2merkato.com/build/assets/EnvBadge-C2AAv8db.js\" /><link rel=\"modulepreload\" as=\"script\" href=\"https://tender.2merkato.com/build/assets/usePaymentStatus-BIElpuLY.js\" /><link rel=\"stylesheet\" href=\"https://tender.2merkato.com/build/assets/app-B88LIc2F.css\" data-navigate-track=\"reload\" /><link rel=\"stylesheet\" href=\"https://tender.2merkato.com/build/assets/preload-helper-D_jZoOQf.css\" data-navigate-track=\"reload\" /><script type=\"module\" src=\"https://tender.2merkato.com/build/assets/app-Jntif2mf.js\" data-navigate-track=\"reload\"></script>\n<script>\n     window.addEventListener('load', () => window.setTimeout(() => {\n        const makeLink = (asset) => {\n            const link = document.createElement('link')\n\n            Object.keys(asset).forEach((attribute) => {\n                link.setAttribute(attribute, asset[attribute])\n            })\n\n            return link\n        }\n\n        const loadNext = (assets, count) => window.setTimeout(() => {\n            if (count > assets.length) {\n                count = assets.length\n\n                if (count === 0) {\n                    return\n                }\n            }\n\n            const fragment = new DocumentFragment\n\n            while (count > 0) {\n                const link = makeLink(assets.shift())\n                fragment.append(link)\n                count--\n\n                if (assets.length) {\n                    link.onload = () => loadNext(assets, 1)\n                    link.onerror = () => loadNext(assets, 1)\n                }\n            }\n\n            document.head.append(fragment)\n        })\n\n        loadNext(JSON.parse('[{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/EmailChangeForm-DXK-hQrp.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/AuthLayout-_WaZnLjJ.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/LanguageSwitcher-C9z12uWm.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DropdownMenuTrigger-DTa78FW3.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DropdownMenuItem-bRWjpWwj.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/EmailVerification-BXMOteiR.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/mail-check-C-yAEijk.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/EmailVerification-bI6ZyIKD.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Login-D-V0GQJD.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/PasswordInput-BmMadmsC.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/MobileChangeForm-CYB782yj.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/MobileVerification-Dr4G9BSt.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/phone-CIMOBp0Z.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/NewEmailVerification-0JNFq8ZP.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/NewMobileVerification-B96CMBb8.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/PasswordChangeForm-CawmiDol.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/PasswordReset-BejKkKVr.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/PasswordResetCodeVerification-CMofNpll.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Register-DLIX4Mok.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TelegramBotLinking-ClRLDBXw.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TelegramBot-n4CA0lCw.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TwoFactor-C_V8mnIi.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/shield-check-BgwB_9vA.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Error-BQYze-QN.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/ErrorLayout-Cd4rroi1.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/_plugin-vue_export-helper-BDNMzG2s.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/AlertEmailShimmer-BnVgXkiu.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Skeleton-CgrAmKgl.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/BouncedEmailsWarning-DooOArka.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Index-BzrJo5L6.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/dayjs.min-aszMaMjE.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/mail-DI1EvbAw.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/rotate-ccw-ROAhFtT2.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/numeral-CEazEQTQ.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/NoAlertEmail-WN4rr74T.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/NoBouncedEmail-DMTVXABd.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/NoUnreadEmail-DeDa6Din.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DocumentLayout-CMSm9Phc.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/MobileMenu-BhvxQx4-.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/bell-ring-TCDadm0T.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/circle-help-KcPX1fED.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/user-minus-vRG0Rg-y.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/dollar-sign-DsRPnGLn.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/log-out-Dz4Po8-T.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/BackToTop-Bl1U10TX.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/FlashMessages-DKuL9-5c.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/ReviveAd-BCox22r1.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TenderLayoutAside-DgZgi1SL.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TenderLayoutHeader-u_VRFTQx.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/menu-CXM3kJwu.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/search-DXE8nv0w.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/AccountDropdown-DfvwEMsp.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/user-round-Cwkyfv1h.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/NotificationBar-DQ3quKYq.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/move-right-m4HHGSE7.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/NotificationBar-B2JUjASl.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/useTenderFilters-BhrkekgZ.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/useDocumentFront-BqzDFhbH.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/useUI-Ba7kKNF9.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/MyPagination-DUe_Rck6.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/chevron-left-Dmb-v4gX.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/chevron-right-YFRr22Ss.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/pagination-2pJL_1pR.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Card-DMOPNk--.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/CardContent-_gvffMLO.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TableRow-BTqjg6Cc.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TableHeader-tnwfSElV.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TabsTrigger-DZnUiqNX.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/file-icon-vivid-DZ-lY4UI.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/ActiveSubscriptionCta-CsrJ0CI5.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/PaymentActionButtons-1kgjKx2j.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/BankAccounts-dJSkdPfE.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/AppLayout-ggw6gkbH.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/BillingHistory-BcuYPHX7.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/CurrentSubscription-B-ICwvoE.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/SubscriptionStatus-m06Jto1x.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/lowerCase-9r-DEWKz.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/_stringToArray-F6trPltW.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Badge-BYFJW0_g.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/CurrentSubscriptionWrapper-C4Ie4guX.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/ExpiredSubscriptionCta-C0XOJsN_.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Index-BFz909yJ.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/V1-BW6LoQOg.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/FilterOptions-9B9muvTk.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Input-CYLhG7wp.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Label-CSLshUST.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/V1-DDXlI3yQ.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/loader-ClsQZTxB.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/PaymentProcessingNotice-DzI2ygPo.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/PayWall-7ILi4B6m.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/PayWallNotice-BfbzbkGS.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/PendingSubscriptionCta-DdL9R7s1.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/RenewalThankYou-BpOppvZH.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/SubscriptionRenewal-Bkl55eJW.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/SubscriptionRenewalNotice-Byji-vdf.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/SubscriptionFinalStep-DX-al3nQ.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/arrow-left-CYo8fm3_.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/V2-DxzKjS4V.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/ThankYou-BMxf-8b5.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Index-CAQ6QSCr.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/trash-2-DZ12eZ9O.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/NoResult-BlVflVLt.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Show-B9oN9SJQ.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DetailsStep-DPpowXON.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/arrow-right-ByQtkbt6.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/useDocumentCheckout-fwDBouht.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Switch-CNLAvN3c.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DocumentCheckout-CuLvXf_4.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/useDirection-7yclcpWn.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Primitive-R_4-2fea.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/useForwardExpose-BHP-SQ2W.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/useId-I6s7g8Ki.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DocumentsTable-DikCinVZ.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/MpesaPayStep-dm2O3hbN.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/CardFooter-B3V3lAQF.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/PaymentMethodStep-CLqpN1z5.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/check-CFnftLkv.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/MpesaOption-CZLQ1ZVb.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TelebirrOption-CFKG4one.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/StepNumber-BjHWZVkG.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/PayStep-zTPcicYP.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DefaultLayout-nKZIv2Xu.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DownloadConfirmation-C1Nf-ZqN.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Index-B-yZ1wLL.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DocumentsGrid-BBACg-ht.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/my_utils-C6pPXlIm.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/relativeTime-Bh5ZXLBe.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/truncate-Cz5vqa2y.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/list-filter-CPK9rPPp.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/AuditDate-BGBV7q7p.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/UserProfileLink-DCyQkbED.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/useDocuments-PJsA9qdq.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/useFilters-CpyKv_Yv.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DocumentsGrid-BmV6h5Xy.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/ThankYou-D7eGOkJG.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/MobileMenu-CFCtIroz.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Index-Dpvciprc.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/MySimplePagination-djtiM7Yr.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Show-DDxpkPcX.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Show-ovBoFJ2-.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Contact-DCNzY4_I.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Index-Dyy4bLBy.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/list-checks-GtQLs5pK.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/bell-D3rNkmX8.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/user-wE6-fndG.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/CardDescription-CFoIKNQf.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/CardHeader-BWOti1Xu.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/CardTitle-CkiMQ67W.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Index-DeJDf2zi.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DocumentShimmer-BliOmreC.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DownloadCard-nQlHkPq9.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DownloadConfirmation-Bz1YWCTo.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Filters-B5aBVGbN.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/MySearch-Bwh1pNPw.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Checkbox-CDt6rFh1.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DropdownMenuSeparator-9DRLRmVa.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Index-Be-VVLYY.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/NoPurchasedDocument-Cy8lsoLP.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/file-badge-Dps7LQPu.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/ThankYou-dqCbR6rz.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/FAQ-C8O3ohrw.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Clients-C7qmz3hd.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DownloadApps-CuQC1Cf9.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/FreeTenders-DYO0vQK3.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Hero-BdCFAwm1.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/badge-check-BXWvD-Po.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Index-DaZEBNAN.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Stats-BNLLqMW2.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Index-D6PGxTpb.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Filters-BOJ8urfi.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/KeyCode-CuMiaiIY.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Index-CDWc-b9E.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TabsContent-ClNPDp_E.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Summary-CifDuCAt.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Promo01-C_2bozMF.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/crown-D-UiJeNT.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/zap-BOnv-TfH.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Promo01-86mw5-I5.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Promo02-Dw2MAcRW.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Promo02-DGhSkxI0.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Promo03-CUFRu1O1.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Promo03-BD648qw9.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/PromoLayout-CuVXxJSZ.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/PromoLayout-PoCWmgEF.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/CategoryFilter-DyM9mph5.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/tree-C9x4CQ18.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/CategoryFilter-CpheRGnR.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/HomeLayout-BsYen6g9.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/LandingPageFooter-B8iYP08j.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/iconify-Libj0fY_.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/LandingPageHeader-9486snqs.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/MapLayout-wRn_r7xd.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/NotificationDropdown-DumRr19I.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TenderLayout-eEj5TkH-.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TenderLayout-DAIqnUZ6.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TenderLayoutFilter-CN58JnBO.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DateRangePicker-BoEnrNIR.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/airbnb-DvpJ4y_T.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/airbnb-CiWvca4j.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/UniversalSearchBar-2n8cd4TP.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Welcome-kFDaXfg1.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/PostTender-C6B6-Q80.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/building-2-B_PBYQy3.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/chevron-down-BLLMWQ56.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/clock-UZJ82T8h.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/users-BnoE8jRL.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/PostTender-D0MXvfQg.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Pricing-BlYd4t0G.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Pricing-ZOh89LF6.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Privacy-BGsW35Rp.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Refund-BZg4WaMY.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Show-wUl6ACZ4.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/AlertSetting-C4AsnShu.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/AlertSettings-DNWz2vfF.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/RadioGroupItem-roUIoF62.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/CategoriesPreview-ChpLyrVv.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/CategoriesPreview-DYCvJeRM.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/useDirtyFormHelpers-B6AjV1Il.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/AlertSettings-CnO8gmdf.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/StartHere-DJhUjLlD.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/StartHere-CkySPiLq.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TOS-Dh4kLepX.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/AISummary-CRMTroQJ.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/SelectValue-DzORxCTv.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Textarea-DljqatC4.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/AuctionPlotMapPreview-CRlqOOin.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/leaflet-DMmj_lVu.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/leaflet-BYfHiZ-E.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/CompanyInfo-CM_eDGSl.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Documents-BUwfzQmc.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Index-CSRVBQZ4.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/NoResult-3kk9ceCw.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Show-B9lwROmz.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022style\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Show-ab-hAH5w.css\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/ShowPageShimmer-BDVsfpOC.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/SimilarTenders-DW974HwQ.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TenderBreadcrumb-MjfTdAdt.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/BreadcrumbSeparator-ICSCAkDr.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TenderCard-CwYGdfL-.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TenderCardShimmer-BXC_IezZ.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TenderCategories-GMbGL0o3.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TenderDetails-DGV5sJ8f.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/TenderMap-Bp0stswA.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/map-pin-07P6KIzp.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DialogTitle-ChqVUT_M.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DialogDescription-BFzOf7pj.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Toolbar-BGEJBYUo.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/save-CMINnAWT.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/square-pen-C-RKkqxp.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/UserFeed-CVE4ObBB.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/CompanyProfile-su9nLnbt.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DeleteAccount-CD0Ib101.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/DialogFooter-agElfiG5.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/MyAccount-bXUnalDq.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/AccountSettings-CY52lVBd.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/UserProfile-D647AXi1.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/circle-check-big-DM9iHJJ4.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022},{\\u0022rel\\u0022:\\u0022prefetch\\u0022,\\u0022as\\u0022:\\u0022script\\u0022,\\u0022href\\u0022:\\u0022https:\\\\\\/\\\\\\/tender.2merkato.com\\\\\\/build\\\\\\/assets\\\\\\/Separator-x9VkpIJr.js\\u0022,\\u0022fetchpriority\\u0022:\\u0022low\\u0022}]'), 2)\n    }))\n</script>\n  <script async src=\"https://www.googletagmanager.com/gtag/js?id=G-02049KV50J\" nonce=\"\"></script>\n<script nonce=\"\">\n      window.dataLayer = window.dataLayer || [];\n      function gtag(){dataLayer.push(arguments);}\n      gtag('js', new Date());\n\n      gtag('config', 'G-02049KV50J', { 'debug_mode':false });\n</script>\n\n  <script defer data-domain=\"tender.2merkato.com\"\n  src=\"https://track.mapopia.com/js/script.file-downloads.hash.outbound-links.pageview-props.revenue.tagged-events.js\"\n  nonce=\"\">\n</script>\n<script nonce=\"\">\n  window.plausible = window.plausible || function() {\n    (window.plausible.q = window.plausible.q || []).push(arguments)\n  }\n</script>\n  <script type=\"text/javascript\" nonce=\"\">\n    (function(c,l,a,r,i,t,y){\n        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};\n        t=l.createElement(r);t.async=1;t.src=\"https://www.clarity.ms/tag/\"+i;\n        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);\n    })(window, document, \"clarity\", \"script\", \"nabbnuxh3y\");\n</script>\n  <script src=\"https://app.lemonsqueezy.com/js/lemon.js\" defer></script>\n</head>\n\n<body class=\"md:bg-slate-50 bg-white h-full antialiased\">\n  <div id=\"app\" data-page=\"{&quot;component&quot;:&quot;Front\\/Tenders\\/Index&quot;,&quot;props&quot;:{&quot;errors&quot;:{},&quot;notification_bar&quot;:null,&quot;remaining_days&quot;:null,&quot;csrf_token&quot;:&quot;xw2VPgkv5dePkcXjpPJ78diV87IaosaiLZxPlPgs&quot;,&quot;auth&quot;:{&quot;user&quot;:null,&quot;role&quot;:&quot;user&quot;,&quot;is_impersonating&quot;:false},&quot;recaptcha&quot;:{&quot;site_key&quot;:&quot;6LeDejgqAAAAAEtwjo9RPaAmgY6wP3AMe1Tfc41V&quot;,&quot;enabled&quot;:false},&quot;zones&quot;:[2,3,4,5,15,19,20,21,22,23,24,39,40],&quot;env&quot;:&quot;production&quot;,&quot;flash&quot;:{},&quot;portal&quot;:null,&quot;params&quot;:[],&quot;tenders&quot;:{&quot;data&quot;:[{&quot;id&quot;:&quot;6a3bd7fa0a538af48a000001&quot;,&quot;title&quot;:&quot;Debre Tabor universsity: ICT Infrastructure Support and Maintenance Services For Debre Tabor University&quot;,&quot;bid_closing_date_text&quot;:&quot;Subscription required&quot;,&quot;bid_opening_date_text&quot;:&quot;Subscription required&quot;,&quot;sources&quot;:[{&quot;name_en&quot;:&quot;Subscription required&quot;}],&quot;is_open&quot;:null,&quot;created_at&quot;:&quot;2026-06-24T13:13:30.000000Z&quot;,&quot;published_at&quot;:&quot;2026-06-24 16:20:24&quot;,&quot;is_pinned&quot;:false,&quot;is_featured&quot;:false,&quot;is_proforma&quot;:false,&quot;is_bookmarked&quot;:null,&quot;documents&quot;:[],&quot;categories&quot;:null,&quot;company&quot;:{&quot;id&quot;:&quot;61bbf26832641657c4780d5e&quot;,&quot;name_en&quot;:&quot;Debre Tabor University&quot;,&quot;name_am&quot;:&quot;\\u12f0\\u1265\\u1228 \\u1273\\u1266\\u122d \\u12e9\\u1292\\u1268\\u122d\\u1232\\u1272&quot;,&quot;phones&quot;:null,&quot;tin&quot;:null,&quot;website&quot;:null,&quot;region_id&quot;:null,&quot;region&quot;:null,&quot;address&quot;:null,&quot;logo&quot;:null},&quot;region&quot;:null,&quot;language&quot;:null},{&quot;id&quot;:&quot;6a3bcada0a538aa5fb000001&quot;,&quot;title&quot;:&quot;SOS Children&#039;s Villages in Ethiopia is inviting bids for facilities maintenance and renovation works at their Bahir Dar Program Location.&quot;,&quot;description&quot;:null,&quot;ai_summary&quot;:null,&quot;bid_bond&quot;:null,&quot;bid_document_price&quot;:&quot;500.00 Birr&quot;,&quot;bid_closing_date&quot;:&quot;2026-07-07 17:00:00&quot;,&quot;bid_opening_date&quot;:&quot;2026-07-07 17:00:00&quot;,&quot;show_bid_closing_time&quot;:true,&quot;show_bid_opening_time&quot;:false,&quot;bid_closing_date_text&quot;:null,&quot;bid_opening_date_text&quot;:&quot;No Specific Opening Date and Time&quot;,&quot;sources&quot;:[{&quot;name_en&quot;:&quot;2merkato.com&quot;,&quot;name_am&quot;:&quot;\\u1271\\u1218\\u122d\\u12ab\\u1276.\\u12ae\\u121d&quot;,&quot;publication_date&quot;:&quot;Jun 24, 2026&quot;}],&quot;is_open&quot;:true,&quot;created_at&quot;:&quot;2026-06-24T12:17:30.000000Z&quot;,&quot;published_at&quot;:&quot;2026-06-24 15:19:18&quot;,&quot;is_pinned&quot;:false,&quot;is_featured&quot;:true,&quot;is_proforma&quot;:false,&quot;is_bookmarked&quot;:null,&quot;documents&quot;:[],&quot;categories&quot;:null,&quot;company&quot;:{&quot;id&quot;:&quot;61bbf26c32641657c4780edd&quot;,&quot;name_en&quot;:&quot;SOS Children\\u2019s Villages Ethiopia&quot;,&quot;name_am&quot;:&quot;\\u12a4\\u1235\\u12a6\\u12a4\\u1235 \\u127d\\u120d\\u12f5\\u1228\\u1295 \\u126a\\u120c\\u1305 \\u12a2\\u1275\\u12ee\\u1335\\u12eb&quot;,&quot;phones&quot;:null,&quot;tin&quot;:null,&quot;website&quot;:null,&quot;region_id&quot;:null,&quot;region&quot;:null,&quot;address&quot;:null,&quot;logo&quot;:&quot;https:\\/\\/tender.eu-central-1.linodeobjects.com\\/companies\\/61bbf26c32641657c4780edd.webp&quot;},&quot;region&quot;:null,&quot;language&quot;:null},{&quot;id&quot;:&quot;6a3bc6890a538af649000001&quot;,&quot;title&quot;:&quot;The Ministry of Water and Energy (MOWE), with financing from the World Bank, is seeking expressions of interest from eligible consulting firms for the design, development, and operationalization of Impact-Based Flood Forecasting and Early Warning Systems (IBFFEWS) in Ethiopia&#039;s priority river basins.&quot;,&quot;bid_closing_date_text&quot;:&quot;Subscription required&quot;,&quot;bid_opening_date_text&quot;:&quot;Subscription required&quot;,&quot;sources&quot;:[{&quot;name_en&quot;:&quot;Subscription required&quot;}],&quot;is_open&quot;:null,&quot;created_at&quot;:&quot;2026-06-24T11:59:05.000000Z&quot;,&quot;published_at&quot;:&quot;2026-06-24 14:59:55&quot;,&quot;is_pinned&quot;:false,&quot;is_featured&quot;:false,&quot;is_proforma&quot;:false,&quot;is_bookmarked&quot;:null,&quot;documents&quot;:[],&quot;categories&quot;:null,&quot;company&quot;:{&quot;id&quot;:&quot;61bbf26432641657c4780b97&quot;,&quot;name_en&quot;:&quot;Ministry of Water and Energy&quot;,&quot;name_am&quot;:&quot;\\u12e8\\u12cd\\u1203 \\u12a5\\u1293 \\u12a2\\u1290\\u122d\\u1302 \\u121a\\u1292\\u1235\\u1274\\u122d&quot;,&quot;phones&quot;:null,&quot;tin&quot;:null,&quot;website&quot;:null,&quot;region_id&quot;:null,&quot;region&quot;:null,&quot;address&quot;:null,&quot;logo&quot;:&quot;https:\\/\\/tender.eu-central-1.linodeobjects.com\\/companies\\/61bbf26432641657c4780b97.webp&quot;},&quot;region&quot;:null,&quot;language&quot;:null},{&quot;id&quot;:&quot;6a3bc5c10a538af61e000001&quot;,&quot;title&quot;:&quot;The International Organization for Migration (IOM) Ethiopia is requesting proposals for the provision of security services.&quot;,&quot;bid_closing_date_text&quot;:&quot;Subscription required&quot;,&quot;bid_opening_date_text&quot;:&quot;Subscription required&quot;,&quot;sources&quot;:[{&quot;name_en&quot;:&quot;Subscription required&quot;}],&quot;is_open&quot;:null,&quot;created_at&quot;:&quot;2026-06-24T11:55:45.000000Z&quot;,&quot;published_at&quot;:&quot;2026-06-24 15:27:32&quot;,&quot;is_pinned&quot;:false,&quot;is_featured&quot;:false,&quot;is_proforma&quot;:false,&quot;is_bookmarked&quot;:null,&quot;documents&quot;:[],&quot;categories&quot;:null,&quot;company&quot;:{&quot;id&quot;:&quot;61bbf26032641657c4780993&quot;,&quot;name_en&quot;:&quot;International Organization for Migration (IOM)&quot;,&quot;name_am&quot;:&quot;\\u12a2\\u1295\\u1270\\u122d\\u1293\\u123d\\u1293\\u120d \\u12a6\\u122d\\u130b\\u1293\\u12ed\\u12dc\\u123d\\u1295 \\u134e\\u122d \\u121a\\u130d\\u122c\\u123d\\u1295&quot;,&quot;phones&quot;:null,&quot;tin&quot;:null,&quot;website&quot;:null,&quot;region_id&quot;:null,&quot;region&quot;:null,&quot;address&quot;:null,&quot;logo&quot;:null},&quot;region&quot;:null,&quot;language&quot;:null},{&quot;id&quot;:&quot;6a3bc37c0a538a01f3000001&quot;,&quot;title&quot;:&quot;\\u1293\\u123d\\u1293\\u120d \\u12a6\\u12ed\\u120d \\u12a2\\u1275\\u12ee\\u1335\\u12eb \\u1283.\\u12e8\\u1270.\\u130d.\\u121b\\u1205\\u1260\\u122d (\\u1296\\u12ad) \\u1243\\u120a\\u1272 \\u1218\\u130b\\u12d8\\u1295 \\u12cd\\u1235\\u1325 \\u12eb\\u1209\\u1275\\u1295 \\u1263\\u1208 1\\u129b \\u12f0\\u1228\\u1303 \\u1353\\u120c\\u1276\\u127d\\u1295 \\u1263\\u1209\\u1260\\u1275 \\u1201\\u1294\\u1273 \\u1260\\u1328\\u1228\\u1273 \\u12a0\\u12c8\\u12f3\\u12f5\\u122e \\u1218\\u1238\\u1325 \\u12ed\\u1348\\u120d\\u130b\\u120d&quot;,&quot;description&quot;:null,&quot;ai_summary&quot;:null,&quot;bid_bond&quot;:&quot;50,000.00 (\\u1203\\u121d\\u1233 \\u123a\\u1205 \\u1265\\u122d)&quot;,&quot;bid_document_price&quot;:null,&quot;bid_closing_date&quot;:&quot;2026-06-30 17:00:00&quot;,&quot;bid_opening_date&quot;:&quot;2026-06-30 17:00:00&quot;,&quot;show_bid_closing_time&quot;:false,&quot;show_bid_opening_time&quot;:false,&quot;bid_closing_date_text&quot;:&quot;\\u12ed\\u1205 \\u121b\\u1235\\u1273\\u12c8\\u1242\\u12eb \\u12a8\\u12c8\\u1323\\u1260\\u1275 \\u1240\\u1295 \\u1300\\u121d\\u122e \\u1263\\u1209\\u1275 5 \\u1270\\u12a8\\u1273\\u1273\\u12ed \\u1240\\u1293\\u1275 \\u12cd\\u1235\\u1325 \\u1245\\u12f3\\u121c \\u12a5\\u1293 \\u12a5\\u1201\\u12f5\\u1295 \\u1233\\u12ed\\u1328\\u121d\\u122d&quot;,&quot;bid_opening_date_text&quot;:&quot;\\u12e8\\u1328\\u1228\\u1273 \\u1218\\u12ad\\u1348\\u127b \\u1240\\u1295\\u1293 \\u1230\\u12d3\\u1275 \\u12a0\\u120d\\u1270\\u1308\\u1208\\u1338\\u121d&quot;,&quot;sources&quot;:[{&quot;name_en&quot;:&quot;2merkato.com&quot;,&quot;name_am&quot;:&quot;\\u1271\\u1218\\u122d\\u12ab\\u1276.\\u12ae\\u121d&quot;,&quot;publication_date&quot;:&quot;Jun 24, 2026&quot;}],&quot;is_open&quot;:true,&quot;created_at&quot;:&quot;2026-06-24T11:46:04.000000Z&quot;,&quot;published_at&quot;:&quot;2026-06-24 14:50:17&quot;,&quot;is_pinned&quot;:false,&quot;is_featured&quot;:true,&quot;is_proforma&quot;:false,&quot;is_bookmarked&quot;:null,&quot;documents&quot;:[],&quot;categories&quot;:null,&quot;company&quot;:{&quot;id&quot;:&quot;61bbf26032641657c47809ea&quot;,&quot;name_en&quot;:&quot;National Oil Ethiopia PLC&quot;,&quot;name_am&quot;:&quot;\\u1293\\u123d\\u1293\\u120d \\u12a6\\u12ed\\u120d \\u12a2\\u1275\\u12ee\\u1335\\u12eb \\u1283\\u120b\\/\\u12e8\\u1270\\/\\u12e8\\u130d\\/\\u121b\\u1205\\u1260\\u122d&quot;,&quot;phones&quot;:null,&quot;tin&quot;:null,&quot;website&quot;:null,&quot;region_id&quot;:null,&quot;region&quot;:null,&quot;address&quot;:null,&quot;logo&quot;:&quot;https:\\/\\/tender.eu-central-1.linodeobjects.com\\/companies\\/61bbf26032641657c47809ea.webp&quot;},&quot;region&quot;:null,&quot;language&quot;:null},{&quot;id&quot;:&quot;6a3bc1d30a538afae9000001&quot;,&quot;title&quot;:&quot;PUBLIC TENDER NOTICE FOR SALE OF GOVERNMENT OF ETHIOPIA TREASURY BILLS&quot;,&quot;bid_closing_date_text&quot;:&quot;Subscription required&quot;,&quot;bid_opening_date_text&quot;:&quot;Subscription required&quot;,&quot;sources&quot;:[{&quot;name_en&quot;:&quot;Subscription required&quot;}],&quot;is_open&quot;:null,&quot;created_at&quot;:&quot;2026-06-24T11:38:59.000000Z&quot;,&quot;published_at&quot;:&quot;2026-06-24 15:04:38&quot;,&quot;is_pinned&quot;:false,&quot;is_featured&quot;:false,&quot;is_proforma&quot;:false,&quot;is_bookmarked&quot;:null,&quot;documents&quot;:[],&quot;categories&quot;:null,&quot;company&quot;:{&quot;id&quot;:&quot;61bbf25a32641657c478073a&quot;,&quot;name_en&quot;:&quot;National Bank of Ethiopia&quot;,&quot;name_am&quot;:&quot;\\u12e8\\u12a2\\u1275\\u12ee\\u1335\\u12eb \\u1265\\u1214\\u122b\\u12ca \\u1263\\u1295\\u12ad&quot;,&quot;phones&quot;:null,&quot;tin&quot;:null,&quot;website&quot;:null,&quot;region_id&quot;:null,&quot;region&quot;:null,&quot;address&quot;:null,&quot;logo&quot;:&quot;https:\\/\\/tender.eu-central-1.linodeobjects.com\\/companies\\/61bbf25a32641657c478073a.webp&quot;},&quot;region&quot;:null,&quot;language&quot;:null},{&quot;id&quot;:&quot;6a3bc1bc0a538ab4a9000001&quot;,&quot;title&quot;:&quot;The United Nations World Food Programme (WFP) invites qualified local companies to submit Expressions of Interest (EOI) for the provision of Pest Control, Fumigation, Spraying, Rodent, and Termite Control Services in WFP and cooperating partners&#039; warehouses across all regions of Ethiopia.&quot;,&quot;bid_closing_date_text&quot;:&quot;Subscription required&quot;,&quot;bid_opening_date_text&quot;:&quot;Subscription required&quot;,&quot;sources&quot;:[{&quot;name_en&quot;:&quot;Subscription required&quot;}],&quot;is_open&quot;:null,&quot;created_at&quot;:&quot;2026-06-24T11:38:36.000000Z&quot;,&quot;published_at&quot;:&quot;2026-06-24 15:12:55&quot;,&quot;is_pinned&quot;:false,&quot;is_featured&quot;:false,&quot;is_proforma&quot;:false,&quot;is_bookmarked&quot;:null,&quot;documents&quot;:[],&quot;categories&quot;:null,&quot;company&quot;:{&quot;id&quot;:&quot;61bbf26832641657c4780d56&quot;,&quot;name_en&quot;:&quot;United Nations World Food Programme (UNWFP)&quot;,&quot;name_am&quot;:&quot;\\u12ce\\u122d\\u120d\\u12f5 \\u1349\\u12f5 \\u1355\\u122e\\u130d\\u122b\\u121d&quot;,&quot;phones&quot;:null,&quot;tin&quot;:null,&quot;website&quot;:null,&quot;region_id&quot;:null,&quot;region&quot;:null,&quot;address&quot;:null,&quot;logo&quot;:&quot;https:\\/\\/tender.eu-central-1.linodeobjects.com\\/companies\\/61bbf26832641657c4780d56.webp&quot;},&quot;region&quot;:null,&quot;language&quot;:null},{&quot;id&quot;:&quot;6a3bc15a0a538afbb2000001&quot;,&quot;title&quot;:&quot;Berhanena Selam Printing Enterprise is inviting international bidders for the supply of raw materials, specifically 10,000 KG of Art paper (80gm one side coated 44cm KG Reel Paper) and 10,000 KG of Paper sticker (44cm).&quot;,&quot;bid_closing_date_text&quot;:&quot;Subscription required&quot;,&quot;bid_opening_date_text&quot;:&quot;Subscription required&quot;,&quot;sources&quot;:[{&quot;name_en&quot;:&quot;Subscription required&quot;}],&quot;is_open&quot;:null,&quot;created_at&quot;:&quot;2026-06-24T11:36:58.000000Z&quot;,&quot;published_at&quot;:&quot;2026-06-24 15:08:44&quot;,&quot;is_pinned&quot;:false,&quot;is_featured&quot;:false,&quot;is_proforma&quot;:false,&quot;is_bookmarked&quot;:null,&quot;documents&quot;:[],&quot;categories&quot;:null,&quot;company&quot;:{&quot;id&quot;:&quot;61bbf25a32641657c4780738&quot;,&quot;name_en&quot;:&quot;Berhanena Selam Printing Enterprise&quot;,&quot;name_am&quot;:&quot;\\u1265\\u122d\\u1203\\u1295\\u1293 \\u1230\\u120b\\u121d \\u121b\\u1270\\u121a\\u12eb \\u12f5\\u122d\\u1305\\u1275&quot;,&quot;phones&quot;:null,&quot;tin&quot;:null,&quot;website&quot;:null,&quot;region_id&quot;:null,&quot;region&quot;:null,&quot;address&quot;:null,&quot;logo&quot;:&quot;https:\\/\\/tender.eu-central-1.linodeobjects.com\\/companies\\/125.jpg&quot;},&quot;region&quot;:null,&quot;language&quot;:null},{&quot;id&quot;:&quot;6a3bbfde0a538a7fc0000001&quot;,&quot;title&quot;:&quot;Cadila Pharmaceuticals Ethiopia PLC is seeking eligible organizations or individuals for cladding and painting works at its factory in Gelan City.&quot;,&quot;bid_closing_date_text&quot;:&quot;Subscription required&quot;,&quot;bid_opening_date_text&quot;:&quot;Subscription required&quot;,&quot;sources&quot;:[{&quot;name_en&quot;:&quot;Subscription required&quot;}],&quot;is_open&quot;:null,&quot;created_at&quot;:&quot;2026-06-24T11:30:38.000000Z&quot;,&quot;published_at&quot;:&quot;2026-06-24 15:22:05&quot;,&quot;is_pinned&quot;:false,&quot;is_featured&quot;:false,&quot;is_proforma&quot;:false,&quot;is_bookmarked&quot;:null,&quot;documents&quot;:[],&quot;categories&quot;:null,&quot;company&quot;:{&quot;id&quot;:&quot;61bbf27d32641657c478166d&quot;,&quot;name_en&quot;:&quot;Cadila Pharmaceuticals (Ethiopia) P.L.C.&quot;,&quot;name_am&quot;:&quot;\\u12ab\\u12f2\\u120b \\u134b\\u122d\\u121b\\u1232\\u12e9\\u1272\\u12ab\\u120d\\u1235 (\\u12a2\\u1275\\u12ee\\u1335\\u12eb) \\u1283\\/\\u12e8\\u1270\\/\\u12e8\\u130d\\/\\u121b\\u1205\\u1260\\u122d&quot;,&quot;phones&quot;:null,&quot;tin&quot;:null,&quot;website&quot;:null,&quot;region_id&quot;:null,&quot;region&quot;:null,&quot;address&quot;:null,&quot;logo&quot;:null},&quot;region&quot;:null,&quot;language&quot;:null},{&quot;id&quot;:&quot;6a3bbfaa0a538afbb2000001&quot;,&quot;title&quot;:&quot;\\u12a4\\u120d\\u134e\\u122b \\u12a0\\u130d\\u122e \\u12a2\\u1295\\u12f1\\u1235\\u1275\\u122a \\u1283\\/\\u12e8\\u1270\\/\\u12e8\\u130d\\/\\u121b\\u1285\\u1260\\u122d \\u1260\\u1235\\u1229 \\u1208\\u121a\\u1308\\u129d \\u1208\\u123b\\u120e \\u12e8\\u12a5\\u1295\\u1230\\u1233\\u1275 \\u1218\\u1296 \\u121b\\u1240\\u1290\\u1263\\u1260\\u122a\\u12eb \\u130d\\u1265\\u12d3\\u1275 \\u12e8\\u121a\\u1206\\u1295 \\u1235\\u130b \\u12a5\\u1293 \\u12a0\\u1325\\u1295\\u1275 \\u1260\\u130d\\u120d\\u133d \\u1328\\u1228\\u1273 \\u1265\\u1243\\u1271 \\u12eb\\u120b\\u1278\\u12cd\\u1295 \\u1270\\u132b\\u122b\\u127e\\u127d\\u1295 \\u1260\\u130d\\u120d\\u133d \\u1328\\u1228\\u1273 \\u12a0\\u12c8\\u12f3\\u12f5\\u122e \\u1208\\u1235\\u12f5\\u1235\\u1275 \\u12c8\\u122b\\u1275 \\u12e8\\u121a\\u1206\\u1295 4800 \\u12a9\\u1295\\u1273\\u120d \\u1328\\u1228\\u1273 \\u12a0\\u12c8\\u12f3\\u12f5\\u122e \\u1218\\u130d\\u12db\\u1275 \\u12ed\\u1348\\u120d\\u130b\\u120d&quot;,&quot;bid_closing_date_text&quot;:&quot;Subscription required&quot;,&quot;bid_opening_date_text&quot;:&quot;Subscription required&quot;,&quot;sources&quot;:[{&quot;name_en&quot;:&quot;Subscription required&quot;}],&quot;is_open&quot;:null,&quot;created_at&quot;:&quot;2026-06-24T11:29:46.000000Z&quot;,&quot;published_at&quot;:&quot;2026-06-24 15:11:03&quot;,&quot;is_pinned&quot;:false,&quot;is_featured&quot;:false,&quot;is_proforma&quot;:false,&quot;is_bookmarked&quot;:null,&quot;documents&quot;:[],&quot;categories&quot;:null,&quot;company&quot;:{&quot;id&quot;:&quot;61bbf27d32641657c478164d&quot;,&quot;name_en&quot;:&quot;ELFORA Agro Industries P.L.C.&quot;,&quot;name_am&quot;:&quot;\\u12a4\\u120d\\u134e\\u122b \\u12a0\\u130d\\u122e \\u12a2\\u1295\\u12f1\\u1235\\u1275\\u122a \\u1283.\\u12e8\\u1270.\\u12e8\\u130d.\\u121b.&quot;,&quot;phones&quot;:null,&quot;tin&quot;:null,&quot;website&quot;:null,&quot;region_id&quot;:null,&quot;region&quot;:null,&quot;address&quot;:null,&quot;logo&quot;:null},&quot;region&quot;:null,&quot;language&quot;:null},{&quot;id&quot;:&quot;6a3bbf210a538a5d21000001&quot;,&quot;title&quot;:&quot;\\u12e8\\u12a2.\\u134c.\\u12f4.\\u122a \\u12e8\\u1218\\u1295\\u130d\\u1225\\u1275 \\u130d\\u12e5 \\u12a0\\u1308\\u120d\\u130d\\u120e\\u1275 \\u12eb\\u1308\\u1208\\u1308\\u1209 \\u1270\\u123d\\u12a8\\u122d\\u12ab\\u122a\\u12ce\\u127d\\u1295 \\u1260\\u130d\\u120d\\u133d \\u1328\\u1228\\u1273 \\u12a0\\u12c8\\u12f3\\u12f5\\u122e \\u1208\\u1218\\u1238\\u1325 \\u12ed\\u1348\\u120d\\u130b\\u120d&quot;,&quot;bid_closing_date_text&quot;:&quot;Subscription required&quot;,&quot;bid_opening_date_text&quot;:&quot;Subscription required&quot;,&quot;sources&quot;:[{&quot;name_en&quot;:&quot;Subscription required&quot;}],&quot;is_open&quot;:null,&quot;created_at&quot;:&quot;2026-06-24T11:27:29.000000Z&quot;,&quot;published_at&quot;:&quot;2026-06-24 15:07:43&quot;,&quot;is_pinned&quot;:false,&quot;is_featured&quot;:false,&quot;is_proforma&quot;:false,&quot;is_bookmarked&quot;:null,&quot;documents&quot;:[],&quot;categories&quot;:null,&quot;company&quot;:{&quot;id&quot;:&quot;6315db49b490c567e10fe399&quot;,&quot;name_en&quot;:&quot;Public Procurement &amp; Property Administration Agency&quot;,&quot;name_am&quot;:&quot;\\u12e8\\u1218\\u1295\\u130d\\u1235\\u1275 \\u130d\\u12e5 \\u12a0\\u1308\\u120d\\u130d\\u120e\\u1275&quot;,&quot;phones&quot;:null,&quot;tin&quot;:null,&quot;website&quot;:null,&quot;region_id&quot;:null,&quot;region&quot;:null,&quot;address&quot;:null,&quot;logo&quot;:null},&quot;region&quot;:null,&quot;language&quot;:null},{&quot;id&quot;:&quot;6a3bbdeb0a538aa24e000001&quot;,&quot;title&quot;:&quot;\\u12e8\\u12a0\\u121b\\u122b \\u1234\\u1276\\u127d \\u121b\\u1205\\u1260\\u122d \\u1260\\u1225\\u1229 \\u1208\\u121a\\u1308\\u129d \\u1355\\u122e\\u1300\\u12ad\\u1275 \\u1270\\u1320\\u1243\\u121a\\u12ce\\u127d \\u1270\\u1308\\u1262\\u12cd\\u1295 \\u12a0\\u1308\\u120d\\u130d\\u120e\\u1275 \\u1218\\u1235\\u1320\\u1275 \\u12e8\\u121a\\u127d\\u1209 \\u1270\\u123d\\u12a8\\u122d\\u12ab\\u122a \\u12ed\\u1348\\u120d\\u130b\\u120d&quot;,&quot;bid_closing_date_text&quot;:&quot;Subscription required&quot;,&quot;bid_opening_date_text&quot;:&quot;Subscription required&quot;,&quot;sources&quot;:[{&quot;name_en&quot;:&quot;Subscription required&quot;}],&quot;is_open&quot;:null,&quot;created_at&quot;:&quot;2026-06-24T11:22:19.000000Z&quot;,&quot;published_at&quot;:&quot;2026-06-24 15:29:45&quot;,&quot;is_pinned&quot;:false,&quot;is_featured&quot;:false,&quot;is_proforma&quot;:false,&quot;is_bookmarked&quot;:null,&quot;documents&quot;:[],&quot;categories&quot;:null,&quot;company&quot;:{&quot;id&quot;:&quot;6a3bb15d0a538aa4fd000001&quot;,&quot;name_en&quot;:&quot;Amhara women Association&quot;,&quot;name_am&quot;:&quot;\\u12a0\\u121b\\u122b \\u1234\\u1276\\u127d \\u121b\\u1205\\u1260\\u122d&quot;,&quot;phones&quot;:null,&quot;tin&quot;:null,&quot;website&quot;:null,&quot;region_id&quot;:null,&quot;region&quot;:null,&quot;address&quot;:null,&quot;logo&quot;:null},&quot;region&quot;:null,&quot;language&quot;:null},{&quot;id&quot;:&quot;6a3bbcdc0a538aa24e000001&quot;,&quot;title&quot;:&quot;Lion Insurance Company (S.C) invites eligible and qualified bidders for the preparation and development of a Human Resource Management Manual and a Benefit Package.&quot;,&quot;bid_closing_date_text&quot;:&quot;Subscription required&quot;,&quot;bid_opening_date_text&quot;:&quot;Subscription required&quot;,&quot;sources&quot;:[{&quot;name_en&quot;:&quot;Subscription required&quot;}],&quot;is_open&quot;:null,&quot;created_at&quot;:&quot;2026-06-24T11:17:48.000000Z&quot;,&quot;published_at&quot;:&quot;2026-06-24 14:30:13&quot;,&quot;is_pinned&quot;:false,&quot;is_featured&quot;:false,&quot;is_proforma&quot;:false,&quot;is_bookmarked&quot;:null,&quot;documents&quot;:[],&quot;categories&quot;:null,&quot;company&quot;:{&quot;id&quot;:&quot;672c5e3f26afd15beebba499&quot;,&quot;name_en&quot;:&quot;Lion insurance company s.c&quot;,&quot;name_am&quot;:&quot;Lion insurance company s.c&quot;,&quot;phones&quot;:null,&quot;tin&quot;:null,&quot;website&quot;:null,&quot;region_id&quot;:null,&quot;region&quot;:null,&quot;address&quot;:null,&quot;logo&quot;:null},&quot;region&quot;:null,&quot;language&quot;:null},{&quot;id&quot;:&quot;6a3bb9dc0a538aa5fb000001&quot;,&quot;title&quot;:&quot;\\u12a6\\u122e\\u121a\\u12eb \\u1263\\u1295\\u12ad \\u12a0.\\u121b. \\u1295\\u1265\\u1228\\u1276\\u127d \\u1263\\u1209\\u1260\\u1275 \\u1260\\u130d\\u120d\\u133d \\u1210\\u122b\\u1305 \\u12a0\\u12c8\\u12f3\\u12f5\\u122e \\u1208\\u1218\\u1238\\u1325 \\u12ed\\u1348\\u120d\\u130b\\u120d&quot;,&quot;bid_closing_date_text&quot;:&quot;Subscription required&quot;,&quot;bid_opening_date_text&quot;:&quot;Subscription required&quot;,&quot;sources&quot;:[{&quot;name_en&quot;:&quot;Subscription required&quot;}],&quot;is_open&quot;:null,&quot;created_at&quot;:&quot;2026-06-24T11:05:00.000000Z&quot;,&quot;published_at&quot;:&quot;2026-06-24 14:48:34&quot;,&quot;is_pinned&quot;:false,&quot;is_featured&quot;:false,&quot;is_proforma&quot;:false,&quot;is_bookmarked&quot;:null,&quot;documents&quot;:[],&quot;categories&quot;:null,&quot;company&quot;:{&quot;id&quot;:&quot;61bbf2ff32641657c4783fcf&quot;,&quot;name_en&quot;:&quot;Oromia Bank S.C.&quot;,&quot;name_am&quot;:&quot;\\u12a6\\u122e\\u121a\\u12eb \\u1263\\u1295\\u12ad \\u12a0.\\u121b.&quot;,&quot;phones&quot;:null,&quot;tin&quot;:null,&quot;website&quot;:null,&quot;region_id&quot;:null,&quot;region&quot;:null,&quot;address&quot;:null,&quot;logo&quot;:&quot;https:\\/\\/tender.eu-central-1.linodeobjects.com\\/companies\\/61bbf2ff32641657c4783fcf.webp&quot;},&quot;region&quot;:null,&quot;language&quot;:null},{&quot;id&quot;:&quot;6a3bb3780a538aefe0000001&quot;,&quot;title&quot;:&quot;\\u12a0\\u12f2\\u1235 \\u1215\\u12ed\\u12c8\\u1275 \\u12a0\\u1320\\u1243\\u120b\\u12ed \\u1206\\u1235\\u1352\\u1273\\u120d \\u12e8\\u1270\\u1208\\u12eb\\u12e9 \\u12e8\\u1260\\u1228\\u1295\\u12f3\\u1293 \\u1218\\u1235\\u12ae\\u1275 \\u130d\\u122a\\u120e\\u127d\\u1363 \\u12e8\\u12a4\\u120c\\u12ad\\u1275\\u122e\\u1292\\u12ad\\u1235 \\u12a5\\u1243\\u12ce\\u127d\\u1363 \\u1265\\u1228\\u1273 \\u1265\\u1228\\u1276\\u127d\\u1363 \\u12e8\\u12a5\\u1295\\u1328\\u1275 \\u1260\\u122e\\u127d\\u1363 \\u12e8\\u12e9\\u1352\\u12a4\\u1235 \\u1263\\u1275\\u122a\\u12ce\\u127d \\u12a5\\u1295\\u12f2\\u1201\\u121d \\u12e8\\u1270\\u1208\\u12eb\\u12e9 \\u12e8\\u1205\\u12ad\\u121d\\u1293 \\u1218\\u1233\\u122a\\u12eb\\u12ce\\u127d\\u1295 \\u1260\\u1328\\u1228\\u1273 \\u12a0\\u12c8\\u12f3\\u12f5\\u122e \\u1208\\u1218\\u1238\\u1325 \\u12ed\\u1348\\u120d\\u130b\\u120d&quot;,&quot;bid_closing_date_text&quot;:&quot;Subscription required&quot;,&quot;bid_opening_date_text&quot;:&quot;Subscription required&quot;,&quot;sources&quot;:[{&quot;name_en&quot;:&quot;Subscription required&quot;}],&quot;is_open&quot;:null,&quot;created_at&quot;:&quot;2026-06-24T10:37:44.000000Z&quot;,&quot;published_at&quot;:&quot;2026-06-24 14:06:46&quot;,&quot;is_pinned&quot;:false,&quot;is_featured&quot;:false,&quot;is_proforma&quot;:false,&quot;is_bookmarked&quot;:null,&quot;documents&quot;:[],&quot;categories&quot;:null,&quot;company&quot;:{&quot;id&quot;:&quot;6217838be7b8aa715436df71&quot;,&quot;name_en&quot;:&quot;Addis Hiwot General Hospital&quot;,&quot;name_am&quot;:&quot;\\u12a0\\u12f2\\u1235 \\u1215\\u12ed\\u12c8\\u1275 \\u12a0\\u1320\\u1243\\u120b\\u12ed \\u1206\\u1235\\u1352\\u1273\\u120d&quot;,&quot;phones&quot;:null,&quot;tin&quot;:null,&quot;website&quot;:null,&quot;region_id&quot;:null,&quot;region&quot;:null,&quot;address&quot;:null,&quot;logo&quot;:null},&quot;region&quot;:null,&quot;language&quot;:null}],&quot;links&quot;:{&quot;first&quot;:&quot;?page=1&quot;,&quot;last&quot;:null,&quot;prev&quot;:null,&quot;next&quot;:&quot;?page=2&quot;},&quot;meta&quot;:{&quot;current_page&quot;:1,&quot;current_page_url&quot;:&quot;?page=1&quot;,&quot;from&quot;:1,&quot;path&quot;:&quot;&quot;,&quot;per_page&quot;:15,&quot;to&quot;:15}},&quot;total&quot;:381890,&quot;heading&quot;:&quot;All Tenders&quot;,&quot;section&quot;:&quot;all_tenders&quot;,&quot;buy_btn_hidden&quot;:false},&quot;url&quot;:&quot;\\/tenders&quot;,&quot;version&quot;:&quot;a644181feeac0704ab26aa4e25817d5b&quot;,&quot;clearHistory&quot;:false,&quot;encryptHistory&quot;:false}\"></div>  <script nonce=\"\">\n  window._translations = {\"failed\":\"These credentials do not match our records.\",\"password\":\"The provided password is incorrect.\",\"throttle\":\"Too many login attempts. Please try again in :seconds seconds.\",\"previous\":\"\\u0026laquo; Previous\",\"next\":\"Next \\u0026raquo;\",\"reset\":\"Your password has been reset.\",\"sent\":\"We have emailed your password reset link.\",\"throttled\":\"Please wait before retrying.\",\"token\":\"This password reset token is invalid.\",\"user\":\"We can\\u0027t find a user with that email address.\",\"accepted\":\"The :attribute field must be accepted.\",\"accepted_if\":\"The :attribute field must be accepted when :other is :value.\",\"active_url\":\"The :attribute field must be a valid URL.\",\"after\":\"The :attribute field must be a date after :date.\",\"after_or_equal\":\"The :attribute field must be a date after or equal to :date.\",\"alpha\":\"The :attribute field must only contain letters.\",\"alpha_dash\":\"The :attribute field must only contain letters, numbers, dashes, and underscores.\",\"alpha_num\":\"The :attribute field must only contain letters and numbers.\",\"array\":\"The :attribute field must be an array.\",\"ascii\":\"The :attribute field must only contain single-byte alphanumeric characters and symbols.\",\"before\":\"The :attribute field must be a date before :date.\",\"before_or_equal\":\"The :attribute field must be a date before or equal to :date.\",\"between.array\":\"The :attribute field must have between :min and :max items.\",\"between.file\":\"The :attribute field must be between :min and :max kilobytes.\",\"between.numeric\":\"The :attribute field must be between :min and :max.\",\"between.string\":\"The :attribute field must be between :min and :max characters.\",\"boolean\":\"The :attribute field must be true or false.\",\"can\":\"The :attribute field contains an unauthorized value.\",\"confirmed\":\"The :attribute field confirmation does not match.\",\"contains\":\"The :attribute field is missing a required value.\",\"current_password\":\"The password is incorrect.\",\"date\":\"The :attribute field must be a valid date.\",\"date_equals\":\"The :attribute field must be a date equal to :date.\",\"date_format\":\"The :attribute field must match the format :format.\",\"decimal\":\"The :attribute field must have :decimal decimal places.\",\"declined\":\"The :attribute field must be declined.\",\"declined_if\":\"The :attribute field must be declined when :other is :value.\",\"different\":\"The :attribute field and :other must be different.\",\"digits\":\"The :attribute field must be :digits digits.\",\"digits_between\":\"The :attribute field must be between :min and :max digits.\",\"dimensions\":\"The :attribute field has invalid image dimensions.\",\"distinct\":\"The :attribute field has a duplicate value.\",\"doesnt_end_with\":\"The :attribute field must not end with one of the following: :values.\",\"doesnt_start_with\":\"The :attribute field must not start with one of the following: :values.\",\"email\":\"The :attribute field must be a valid email address.\",\"ends_with\":\"The :attribute field must end with one of the following: :values.\",\"enum\":\"The selected :attribute is invalid.\",\"exists\":\"The selected :attribute is invalid.\",\"extensions\":\"The :attribute field must have one of the following extensions: :values.\",\"file\":\"The :attribute field must be a file.\",\"filled\":\"The :attribute field must have a value.\",\"gt.array\":\"The :attribute field must have more than :value items.\",\"gt.file\":\"The :attribute field must be greater than :value kilobytes.\",\"gt.numeric\":\"The :attribute field must be greater than :value.\",\"gt.string\":\"The :attribute field must be greater than :value characters.\",\"gte.array\":\"The :attribute field must have :value items or more.\",\"gte.file\":\"The :attribute field must be greater than or equal to :value kilobytes.\",\"gte.numeric\":\"The :attribute field must be greater than or equal to :value.\",\"gte.string\":\"The :attribute field must be greater than or equal to :value characters.\",\"hex_color\":\"The :attribute field must be a valid hexadecimal color.\",\"image\":\"The :attribute field must be an image.\",\"in\":\"The selected :attribute is invalid.\",\"in_array\":\"The :attribute field must exist in :other.\",\"integer\":\"The :attribute field must be an integer.\",\"ip\":\"The :attribute field must be a valid IP address.\",\"ipv4\":\"The :attribute field must be a valid IPv4 address.\",\"ipv6\":\"The :attribute field must be a valid IPv6 address.\",\"json\":\"The :attribute field must be a valid JSON string.\",\"list\":\"The :attribute field must be a list.\",\"lowercase\":\"The :attribute field must be lowercase.\",\"lt.array\":\"The :attribute field must have less than :value items.\",\"lt.file\":\"The :attribute field must be less than :value kilobytes.\",\"lt.numeric\":\"The :attribute field must be less than :value.\",\"lt.string\":\"The :attribute field must be less than :value characters.\",\"lte.array\":\"The :attribute field must not have more than :value items.\",\"lte.file\":\"The :attribute field must be less than or equal to :value kilobytes.\",\"lte.numeric\":\"The :attribute field must be less than or equal to :value.\",\"lte.string\":\"The :attribute field must be less than or equal to :value characters.\",\"mac_address\":\"The :attribute field must be a valid MAC address.\",\"max.array\":\"The :attribute field must not have more than :max items.\",\"max.file\":\"The :attribute field must not be greater than :max kilobytes.\",\"max.numeric\":\"The :attribute field must not be greater than :max.\",\"max.string\":\"The :attribute field must not be greater than :max characters.\",\"max_digits\":\"The :attribute field must not have more than :max digits.\",\"mimes\":\"The :attribute field must be a file of type: :values.\",\"mimetypes\":\"The :attribute field must be a file of type: :values.\",\"min.array\":\"The :attribute field must have at least :min items.\",\"min.file\":\"The :attribute field must be at least :min kilobytes.\",\"min.numeric\":\"The :attribute field must be at least :min.\",\"min.string\":\"The :attribute field must be at least :min characters.\",\"min_digits\":\"The :attribute field must have at least :min digits.\",\"missing\":\"The :attribute field must be missing.\",\"missing_if\":\"The :attribute field must be missing when :other is :value.\",\"missing_unless\":\"The :attribute field must be missing unless :other is :value.\",\"missing_with\":\"The :attribute field must be missing when :values is present.\",\"missing_with_all\":\"The :attribute field must be missing when :values are present.\",\"multiple_of\":\"The :attribute field must be a multiple of :value.\",\"not_in\":\"The selected :attribute is invalid.\",\"not_regex\":\"The :attribute field format is invalid.\",\"numeric\":\"The :attribute field must be a number.\",\"password.letters\":\"The :attribute field must contain at least one letter.\",\"password.mixed\":\"The :attribute field must contain at least one uppercase and one lowercase letter.\",\"password.numbers\":\"The :attribute field must contain at least one number.\",\"password.symbols\":\"The :attribute field must contain at least one symbol.\",\"password.uncompromised\":\"The given :attribute has appeared in a data leak. Please choose a different :attribute.\",\"present\":\"The :attribute field must be present.\",\"present_if\":\"The :attribute field must be present when :other is :value.\",\"present_unless\":\"The :attribute field must be present unless :other is :value.\",\"present_with\":\"The :attribute field must be present when :values is present.\",\"present_with_all\":\"The :attribute field must be present when :values are present.\",\"prohibited\":\"The :attribute field is prohibited.\",\"prohibited_if\":\"The :attribute field is prohibited when :other is :value.\",\"prohibited_unless\":\"The :attribute field is prohibited unless :other is in :values.\",\"prohibits\":\"The :attribute field prohibits :other from being present.\",\"regex\":\"The :attribute field format is invalid.\",\"required\":\"The :attribute field is required.\",\"required_array_keys\":\"The :attribute field must contain entries for: :values.\",\"required_if\":\"The :attribute field is required when :other is :value.\",\"required_if_accepted\":\"The :attribute field is required when :other is accepted.\",\"required_if_declined\":\"The :attribute field is required when :other is declined.\",\"required_unless\":\"The :attribute field is required unless :other is in :values.\",\"required_with\":\"The :attribute field is required when :values is present.\",\"required_with_all\":\"The :attribute field is required when :values are present.\",\"required_without\":\"The :attribute field is required when :values is not present.\",\"required_without_all\":\"The :attribute field is required when none of :values are present.\",\"same\":\"The :attribute field must match :other.\",\"size.array\":\"The :attribute field must contain :size items.\",\"size.file\":\"The :attribute field must be :size kilobytes.\",\"size.numeric\":\"The :attribute field must be :size.\",\"size.string\":\"The :attribute field must be :size characters.\",\"starts_with\":\"The :attribute field must start with one of the following: :values.\",\"string\":\"string\",\"timezone\":\"The :attribute field must be a valid timezone.\",\"unique\":\"The :attribute has already been taken.\",\"uploaded\":\"The :attribute failed to upload.\",\"uppercase\":\"The :attribute field must be uppercase.\",\"url\":\"The :attribute field must be a valid URL.\",\"ulid\":\"The :attribute field must be a valid ULID.\",\"uuid\":\"The :attribute field must be a valid UUID.\",\"custom.phone.phone\":\"Invalid phone number.\",\"attributes\":[],\"(Requires verified mobile)\":\"(Requires verified mobile)\",\"1 day left\":\"1 day left\",\"1 Year\":\"1 Year\",\"50,000,000+ alert emails sent since 2013\":\"50,000,000+ alert emails sent since 2013\",\"1st floor, Office No. 102\":\"1st floor, Office No. 102\",\"2merkato Tenders\":\"2merkato Tenders\",\"2merkato Tenders Bot\":\"2merkato Tenders Bot\",\"3 Month\":\"3 Month\",\"6 Month\":\"6 Month\",\"About the Company\":\"About the Company\",\"Accepts subscription reminders\":\"Accepts subscription reminders\",\"Access tenders from all major sources in Ethiopia. Including regional tenders\":\"Access tenders from all major sources in Ethiopia. Including regional tenders\",\"Access tenders from PC and mobile\":\"Access tenders from PC and mobile\",\"Access to exclusive\\/directly posted tenders that may not be found on newspapers\":\"Access to exclusive\\/directly posted tenders that may not be found on newspapers\",\"Account \\u0026 Settings\":\"Account \\u0026 Settings\",\"Account number\":\"Account number\",\"Account Settings\":\"Account Settings\",\"Activate with\":\"Activate with\",\"Add an extra layer of security by requiring a verification code when you log in.\":\"Add an extra layer of security by requiring a verification code when you log in.\",\"Add email address\":\"Add email address\",\"Add mobile\":\"Add mobile\",\"Addis Ababa, Ethiopia\":\"Addis Ababa, Ethiopia\",\"Addisland\":\"Addisland\",\"Addisland Tenders (Land Lease)\":\"Addisland Tenders (Land Lease)\",\"Address\":\"Address\",\"Admin Dashboard\":\"Admin Dashboard\",\"After the deletion of your account:\":\"After the deletion of your account:\",\"After transferring the payment, please give us a call and let us know the bank transfer number.\":\"After transferring the payment, please give us a call and let us know the bank transfer number.\",\"Agent company name\":\"Agent company name\",\"Agent company name is required\":\"Agent company name is required\",\"Alert categories updated\":\"Alert categories updated\",\"Alert Emails\":\"Alert Emails\",\"Alert setting updated\":\"Alert setting updated\",\"Alert Settings\":\"Alert Settings\",\"Alert settings\":\"Alert settings\",\"All\":\"All\",\"All bookmarked tenders get deleted\":\"All bookmarked tenders get deleted\",\"All Categories\":\"All Categories\",\"All Documents\":\"All Documents\",\"All documents\":\"All documents\",\"All Emails Bounced\":\"All Emails Bounced\",\"All prices include 15% VAT\":\"All prices include 15% VAT\",\"All Tender Documents\":\"All Tender Documents\",\"All Tenders\":\"All Tenders\",\"Already have an account?\":\"Already have an account?\",\"Any alert emails you received in the past will be deleted from our system.\":\"Any alert emails you received in the past will be deleted from our system.\",\"Archived\":\"Archived\",\"Are you buying on behalf of a company?\":\"Are you buying on behalf of a company?\",\"Back\":\"Back\",\"Bank name\":\"Bank name\",\"Bid bond\":\"Bid bond\",\"Bid closing date\":\"Bid closing date:\",\"Bid document price\":\"Bid document price\",\"Bid opening date\":\"Bid opening date:\",\"Bidding\":\"Bidding\",\"Bidding closed\":\"Bidding closed\",\"Bidding closed. Document no longer available for purchase.\":\"Bidding closed. Document no longer available for purchase.\",\"Biding Open\":\"Bidding Open\",\"Billing \\u0026 Subscription\":\"Billing \\u0026 Subscription\",\"Billing History\":\"Billing History\",\"Bookmark tenders\":\"Bookmark tenders\",\"Bookmarked at\":\"Bookmarked at\",\"bookmarks\":\"bookmarks\",\"Bounced\":\"Bounced\",\"Breadcrumb\":\"Breadcrumb\",\"Browse latest tenders\":\"Browse latest tenders\",\"Business License Number\":\"Business License Number\",\"Business opportunities from 1000+ companies\":\"Business opportunities from 10,000+ companies\",\"Buy Now\":\"Buy Now\",\"Cancel\":\"Cancel\",\"CAPTCHA verification failed. Please try again.\":\"CAPTCHA verification failed. Please try again.\",\"Categories\":\"Categories\",\"CBE mini-app Test\":\"CBE mini-app Test\",\"Change email\":\"Change email\",\"Change mobile\":\"Change mobile\",\"Change number\":\"Change number\",\"Change Password\":\"Change Password\",\"Channels\":\"Channels\",\"Checkout\":\"Checkout\",\"Choose how you want to receive your verification codes when logging in.\":\"Choose how you want to receive your verification codes when logging in.\",\"Clear\":\"Clear\",\"Clear all\":\"Clear all\",\"Clear user cache\":\"Clear user cache\",\"Purchased documents cache\":\"Purchased documents cache\",\"Alert settings cache\":\"Alert settings cache\",\"Account settings cache\":\"Account settings cache\",\"Device settings cache\":\"Device settings cache\",\"Are you sure you want to clear all cache for this user?\":\"Are you sure you want to clear all cache for this user?\",\"Are you sure you want to clear the selected cache for this user?\":\"Are you sure you want to clear the selected cache for this user?\",\"User cache cleared.\":\"User cache cleared.\",\"Selected cache cleared.\":\"Selected cache cleared.\",\"Failed to clear user cache.\":\"Failed to clear user cache.\",\"Clear Filters\":\"Clear Filters\",\"Clear search\":\"Clear Search\",\"Close filter\":\"Close Filter\",\"Closed\":\"Closed\",\"Closes today\":\"Closes today\",\"Company\":\"Company\",\"Company name is required\":\"Company name is required\",\"Company phone is required\":\"Company phone is required\",\"Company phone number\":\"Company phone number\",\"Company TIN\":\"Company TIN\",\"Confirm Account Deletion\":\"Confirm Account Deletion\",\"Confirm Deletion\":\"Confirm Deletion\",\"Contact\":\"Contact\",\"Continue\":\"Continue\",\"Create Account\":\"Create Account\",\"Created at\":\"Created at\",\"Current Subscription\":\"Current Subscription\",\"Daily alerts via email\":\"Daily alerts via email\",\"days\":\"days\",\"Delete My Account\":\"Delete My Account\",\"Delete my account\":\"Delete my account\",\"Delete permanently\":\"Delete permanently\",\"deleted\":\"deleted\",\"Deleted at\":\"Deleted at\",\"Deleting...\":\"Deleting...\",\"Dependable email and phone support\":\"Dependable email and phone support\",\"Deselect all\":\"Deselect all\",\"Document title\":\"Document title\",\"Documents\":\"Documents\",\"documents\":\"documents\",\"documents.free_description\":\"These are all the free tender documents uploaded by the organizations we work with. The organizations requested that the documents to be distributed free of charge.\",\"documents.paid_description\":\"Some companies may require the purchase of tender documents to participate in their tenders posted on our platform. Below is a list of such documents, along with the relevant tender details and the name of the issuing company.\",\"documents.purchased_description\":\"These are all the tender documents that you have purchased through our platform\",\"Don\\u0027t have an account?\":\"Don\\u0027t have an account?\",\"Dont have account?\":\"Don\\u0027t have an account?\",\"Download\":\"Download\",\"Download documents sales report\":\"Download documents sales report\",\"Download documents sales report as PDF\":\"Download documents sales report as PDF\",\"Download documents sales report in Excel format\":\"Download documents sales report in Excel format\",\"Download Ready\":\"Download Ready\",\"Download The App\":\"Download The App\",\"Download your document here:\":\"Download your document here:\",\"Downloadable tender documents (free\\/paid)\":\"Downloadable tender documents (free\\/paid)\",\"Downloads\":\"Downloads\",\"eBiz Online Solutions PLC. All rights reserved.\":\"eBiz Online Solutions PLC. All rights reserved.\",\"Edit\":\"Edit\",\"Edit Document\":\"Edit Document\",\"Edit document\":\"Edit document\",\"Either a mobile phone number or an email address is required for registration.\":\"Either a mobile phone number or an email address is required for registration.\",\"Either an email address or a mobile phone number is required for registration.\":\"Either an email address or a mobile phone number is required for registration.\",\"Email\":\"Email\",\"Email Address\":\"Email Address\",\"Email address\":\"Email Address\",\"Email address is required.\":\"Email address is required.\",\"Email and phone support\":\"Email and phone support\",\"Email enabled\":\"Email enabled\",\"Email or Mobile\":\"Email or Mobile\",\"Email subject\":\"Email subject\",\"Enable two-factor authentication\":\"Enable two-factor authentication\",\"End date:\":\"End date:\",\"Enter a new email address and click save.\":\"Enter a new email address and click save.\",\"Enter a new mobile address and click save.\":\"Enter a new mobile address and click save.\",\"ETB\":\"ETB\",\"ETB  3,395\":\"ETB  3,395\",\"ETB 1,840\":\"ETB 1,840\",\"ETB 2,480\":\"ETB 2,480\",\"Every plan includes all these powerful features\":\"Every plan includes all these powerful features\",\"Excel\":\"Excel\",\"Expires in :count minute.\":\"Expires in :count minute.\",\"Expires in :count minutes.\":\"Expires in :count minutes.\",\"Exist Fullscreen\":\"Exit Full Screen\",\"Exit Fullscreen\":\"Exit Full Screen\",\"expires in\":\"expires in\",\"Explore\":\"Explore\",\"Export\":\"Export\",\"Export reports\":\"Export reports\",\"Facebook\":\"Facebook\",\"Failed to checkout\":\"Failed to checkout\",\"Find all your purchased documents here:\":\"Find all your purchased documents here:\",\"Failed to save\":\"Failed to save\",\"Failed to update\":\"Failed to update\",\"FAQ\":\"FAQ\",\"File size\":\"File size\",\"Filed Under\":\"Filed Under\",\"Filter\":\"Filter\",\"Filter by\":\"Filter by\",\"Filter by company\":\"Filter by company\",\"Focus search input\":\"Focus search input\",\"Forbidden\":\"Forbidden\",\"Forgot your password?\":\"Forgot your password?\",\"FREE\":\"FREE\",\"Free\":\"Free\",\"Free documents\":\"Free documents\",\"Free Tenders\":\"Free Tenders\",\"Frequently Asked Questions\":\"Frequently Asked Questions\",\"FS Number\":\"FS Number\",\"Full Name\":\"Full Name\",\"Fullscreen\":\"Fullscreen\",\"Get Started\":\"Get Started\",\"Go to Telegram\":\"Go to Telegram\",\"Good news! We successfully sent all alert emails to your inbox.\":\"Good news! We successfully sent all alert emails to your inbox.\",\"Have questions?\":\"Have questions?\",\"Hello :name\":\"Hello :name\",\"Here are some tips to help you receive alerts:\":\"Here are some tips to help you receive alerts:\",\"Hide\":\"Hide\",\"Home\":\"Home\",\"I agree to the Terms and Conditions\":\"I agree to the Terms and Conditions\",\"ID\":\"ID\",\"If you are not 100% satisfied with our service, within 30 days from the subscription date, we will fully refund the cost of your order.\":\"If you are not 100% satisfied with our service, within 30 days from the subscription date, we will fully refund the cost of your order.\",\"If you have more questions, please check out our\":\"If you have more questions, please check out our\",\"If you prefer not to receive these messages, you can turn off this setting.\":\"If you prefer not to receive these messages, you can turn off this setting.\",\"If your business is located in Addis Ababa, we can come and collect the payment.\":\"If your business is located in Addis Ababa, we can come and collect the payment.\",\"Information\":\"Information\",\"Initiating...\":\"Initiating...\",\"Insights\":\"Insights\",\"Integration Test String\":\"Integration Test String\",\"Invoice date\":\"Invoice date\",\"Invoice Number\":\"Invoice Number\",\"Keep my Account\":\"Keep my Account\",\"Land Lease\":\"Land Lease\",\"Language\":\"Language\",\"Languages\":\"Languages\",\"Last name\":\"Last name\",\"Last updated Nov 23, 2020\":\"Last updated Nov 23, 2020\",\"Latest Tenders\":\"Latest Tenders\",\"Linkedin\":\"LinkedIn\",\"Loading\":\"Loading\",\"Loading Telegram\":\"Loading Telegram\",\"Loading Telegram...\":\"Loading Telegram...\",\"Log out\":\"Log out\",\"Login\":\"Login\",\"Looks like this email is already associated with an account. If you can\\u0027t remember your password, you can reset it easily by clicking the \\u0022forgot password\\u0022 link\":\"Looks like this email is already associated with an account. If you can\\u0027t remember your password, you can reset it easily by clicking the \\u0022forgot password\\u0022 link\",\"Looks like this mobile phone number is already associated with an account. If you can\\u0027t remember your password, you can reset it easily by clicking the \\u0022forgot password\\u0022 link\":\"Looks like this mobile phone number is already associated with an account. If you can\\u0027t remember your password, you can reset it easily by clicking the \\u0022forgot password\\u0022 link\",\"M-Pesa number must start with 07 (Safaricom).\":\"M-Pesa number must start with 07 (Safaricom).\",\"Marketing messages opt-in\":\"Marketing messages opt-in\",\"Mega Building (Bole Road)\":\"Mega Building (Bole Road)\",\"Member since\":\"Member since\",\"Method\":\"Method\",\"Mobile\":\"Mobile\",\"Mobile Phone\":\"Mobile Phone\",\"Mobile phone\":\"Mobile phone\",\"Mobile phone number is required.\":\"Mobile phone number is required.\",\"month\":\"month\",\"My Account\":\"My Account\",\"My Activity\":\"My Activity\",\"My Alert Emails\":\"My Alert Emails\",\"My Alert Settings\":\"My Alert Settings\",\"My Company\":\"My Company\",\"My Documents\":\"My Documents\",\"My Purchased documents\":\"My Purchased Documents\",\"My Saved Tenders\":\"My Saved Tenders\",\"My Tenders\":\"My Tenders\",\"N\\/A\":\"N\\/A\",\"Name\":\"Name\",\"Name (in Amharic)\":\"Name (in Amharic)\",\"Next\":\"Next\",\"Next Step\":\"Next Step\",\"No document found\":\"No document found\",\"No new notifications\":\"No new notifications\",\"No Result\":\"No Result\",\"No tender found\":\"No tender found\",\"Not Attached with any tender\":\"Not Attached with any tender\",\"Notifications\":\"Notifications\",\"of\":\"of\",\"Office Address\":\"Office Address\",\"Open\":\"Open\",\"Open menu\":\"Open menu\",\"Open user menu\":\"Open user menu\",\"Or\":\"Or\",\"or contact us.\":\"or contact us.\",\"Our Bank Accounts\":\"Our Bank Accounts\",\"Page Not Found\":\"Page Not Found\",\"Paid\":\"Paid\",\"Paid Amount\":\"Paid Amount\",\"Paid Documents\":\"Paid Documents\",\"Paid documents\":\"Paid documents\",\"Password\":\"Password\",\"Password is required\":\"Password is required\",\"Password is required to confirm account deletion.\":\"Password is required to confirm account deletion.\",\"Password must be a valid string.\":\"Password must be a valid string.\",\"Password reset code\":\"Password reset code\",\"Pay\":\"Pay\",\"Pay with\":\"Pay with\",\"Pay with M-Pesa\":\"Pay with M-Pesa\",\"Pay with Telebirr\":\"Pay with Telebirr\",\"Payment\":\"Payment\",\"Payment method\":\"Payment method\",\"Payment request sent to your phone.\":\"Payment request sent to your phone.\",\"PDF\":\"PDF\",\"Phone\":\"Phone\",\"Phone numbers\":\"Phone numbers\",\"Phones\":\"Phones\",\"Plan:\":\"Plan:\",\"Please complete the payment in the Telebirr window that was opened.\":\"Please complete the payment in the Telebirr window that was opened.\",\"Please enter a password\":\"Please enter a password\",\"Please enter a valid email address\":\"Please enter a valid email address\",\"Please enter a valid mobile phone number\":\"Please enter a valid mobile phone number\",\"Please enter a valid mobile phone number.\":\"Please enter a valid mobile phone number.\",\"Please enter a valid phone number\":\"Please enter a valid phone number\",\"Please enter a valid TIN number\":\"Please enter a valid TIN number.\",\"Please enter a valid TIN number.\":\"Please enter a valid TIN number.\",\"Please enter a your father\\u0027s name (your last name)\":\"Please enter a your father\\u0027s name (your last name)\",\"Please enter a your name (your first name)\":\"Please enter a your name (your first name)\",\"Please enter the code below to continue.\":\"Please enter the code below to continue.\",\"Please enter the email address or mobile phone number you used to create your account with us. We will send you a code to reset your password.\":\"Please enter the email address or mobile phone number you used to create your account with us. We will send you a code to reset your password.\",\"Please enter the mobile number associated with your M-Pesa account that you intend to use for the payment.\":\"Please enter the mobile number associated with your M-Pesa account that you intend to use for the payment.\",\"Sorry, we could not start your M-Pesa payment. Please check your number and try again.\":\"Sorry, we could not start your M-Pesa payment. Please check your number and try again.\",\"Please enter the mobile number associated with your telebirr account that you intend to use for the payment.\":\"Please enter the mobile number associated with your telebirr account that you intend to use for the payment.\",\"Please enter the verification code.\":\"Please enter the verification code.\",\"Please enter your father\\u0027s name (your last name)\":\"Please enter your father\\u0027s name (your last name)\",\"Please enter your name (your first name)\":\"Please enter your name (your first name)\",\"Please enter your password to confirm account deletion. This action cannot be undone.\":\"Please enter your password to confirm account deletion. This action cannot be undone.\",\"Please note that this refund policy is not applicable for subscribers in Ethiopia that pay in cash or by check at our office or by bank transfer in Ethiopia or by paying online in Ethiopia and obtain a receipt. It is also not applicable for existing members who upgrade their existing subscription.\":\"Please note that this refund policy is not applicable for subscribers in Ethiopia that pay in cash or by check at our office or by bank transfer in Ethiopia or by paying online in Ethiopia and obtain a receipt. It is also not applicable for existing members who upgrade their existing subscription.\",\"Please wait before requesting another code.\":\"Please wait before requesting another code.\",\"Post Tender\":\"Post Tender\",\"Post Your Tender\":\"Post Your Tender\",\"Post your tenders\":\"Post your tenders\",\"Posted\":\"Posted\",\"Press Escape to clear search or click the X button\":\"Press Escape to clear search or click the X button\",\"Price\":\"Price\",\"Pricing\":\"Pricing\",\"Principal bidder name\":\"Principal bidder name\",\"Print\":\"Print\",\"Print tender\":\"Print tender\",\"Privacy Policy\":\"Privacy Policy\",\"Processing...\":\"Processing...\",\"Profile\":\"Profile\",\"Proforma\":\"Proforma\",\"Proof of payment\":\"Proof of payment\",\"Publication date range\":\"Publication date range\",\"Published on\":\"Published on:\",\"Purchased\":\"Purchased\",\"Purchased on\":\"Purchased on\",\"Push notification enabled (via mobile app)\":\"Push notification enabled (via mobile app)\",\"Push notification via telegram and our app\":\"Push notification via telegram and our app\",\"Refund Policy\":\"Refund Policy\",\"Region\":\"Region\",\"Regions\":\"Regions\",\"Register\":\"Register\",\"Reliable \\u0026 Affordable\":\"Reliable \\u0026 Affordable\",\"Reload\":\"Reload\",\"Remember me\":\"Remember me\",\"Remember this device for 30 days\":\"Remember this device for 30 days\",\"Remove tender\":\"Remove tender\",\"Renew now\":\"Renew now\",\"Renew with\":\"Renew with\",\"Resend code\":\"Resend code\",\"Restore\":\"Restore\",\"Sales\":\"Sales\",\"Save\":\"Save\",\"Save Email\":\"Save Email\",\"Save Mobile\":\"Save Mobile\",\"Save tender\":\"Save tender\",\"Saved\":\"Saved\",\"Saved Tenders\":\"Saved Tenders\",\"Saving\":\"Saving\",\"Schedules\":\"Schedules\",\"Search\":\"Search\",\"Search by keyword\":\"Search by keyword\",\"Search tenders by keyword\":\"Search tenders by keyword\",\"Select all\":\"Select all\",\"Select method\":\"Select method\",\"Selected\":\"Selected\",\"Selected Categories\":\"Selected Categories\",\"Sent date\":\"Sent date\",\"Sent to\":\"Sent to\",\"Server Error\":\"Server Error\",\"Service Unavailable\":\"Service Unavailable\",\"Settings\":\"Settings\",\"Show\":\"Show\",\"Similar Tenders\":\"Similar Tenders\",\"Simple Pricing\":\"Simple Pricing\",\"SMS\":\"SMS\",\"SMS enabled\":\"SMS enabled\",\"Soft delete\":\"Soft delete\",\"Some companies may require the purchase of tender documents to participate in their tenders posted on our platform. Below is a list of such documents, along with the relevant tender details and the name of the issuing company.\":\"Some companies may require the purchase of tender documents to participate in their tenders posted on our platform. Below is a list of such documents, along with the relevant tender details and the name of the issuing company.\",\"Sorry, the page you are looking for could not be found.\":\"Sorry, the page you are looking for could not be found.\",\"Sorry, we are doing some maintenance. Please check back soon.\":\"Sorry, we are doing some maintenance. Please check back soon.\",\"Sorry, you are forbidden from accessing this page.\":\"Sorry, you are forbidden from accessing this page.\",\"Source\":\"Source\",\"Start date:\":\"Start date:\",\"Start Here\":\"Start Here\",\"Status\":\"Status\",\"Status:\":\"Status:\",\"Stop Impersonating\":\"Stop Impersonating\",\"Subscribe\":\"Subscribe\",\"Subscription\":\"Subscription\",\"Subscription \\u0026 Billing\":\"Subscription \\u0026 Billing\",\"Subscription plan\":\"Subscription plan\",\"Subscription Renewal\":\"Subscription Renewal\",\"Subscription required\":\"Subscription required\",\"Swift Code\":\"Swift Code\",\"Telebirr number must start with 09 (Ethio Telecom).\":\"Telebirr number must start with 09 (Ethio Telecom).\",\"telegram\":\"Telegram\",\"Telegram enabled (via telegram bot)\":\"Telegram enabled (via telegram bot)\",\"Tender\":\"Tender\",\"Tender Alert Service\":\"Tender Alert Service\",\"Tender Documents\":\"Tender Documents\",\"Tender posted at:\":\"Tender posted at:\",\"Control which tender types should be excluded from your email alerts.\":\"Control which tender types should be excluded from your email alerts.\",\"Exclude all tender types\":\"Exclude all tender types\",\"Exclude selected tender types\":\"Exclude selected tender types\",\"Matching tenders with any tender type will be excluded from email alerts.\":\"Matching tenders with any tender type will be excluded from email alerts.\",\"No tender types configured\":\"No tender types configured\",\"Only selected tender types will be excluded from email alerts.\":\"Only selected tender types will be excluded from email alerts.\",\"Receive all tender types\":\"Receive all tender types\",\"Tender type alert settings updated\":\"Tender type alert settings updated\",\"Tender types will not exclude any matching email alerts.\":\"Tender types will not exclude any matching email alerts.\",\"Tender Types\":\"Tender Types\",\"Tenders\":\"Tenders\",\"tenders\":\"tenders\",\"tenders found\":\"tenders found\",\"Tenders from all regions\":\"Tenders from all regions\",\"Tenders in 5 languages\":\"Tenders in 5 languages\",\"Terms of Service\":\"Terms of Service\",\"Terms of service must be accepted\":\"Terms of service must be accepted\",\"Thank You\":\"Thank You\",\"Thank You!\":\"Thank You!\",\"Thank you for using 2merkato Tenders.\":\"Thank you for using 2merkato Tenders.\",\"The code must be 6 digits.\":\"The code must be 6 digits.\",\"The email you provided is the same as the one you are using right now.\":\"The email you provided is the same as the one you are using right now.\",\"The mobile phone number you provided is the same as the one you are using right now.\":\"The mobile phone number you provided is the same as the one you are using right now.\",\"The provided code is invalid or has expired.\":\"The provided code is invalid or has expired.\",\"The provided CRM user ID is invalid. Please ensure the user ID is assigned as a sales rep to a staff member before using it.\":\"The provided CRM user ID is invalid. Please ensure the user ID is assigned as a sales rep to a staff member before using it.\",\"The provided password is incorrect.\":\"The provided password is incorrect.\",\"The user has not subscribed to any category\":\"The user has not subscribed to any category\",\"These are all the free tender documents uploaded by the organizations we work with. The organizations requested that the documents to be distributed free of charge.\":\"These are all the free tender documents uploaded by the organizations we work with. The organizations requested that the documents to be distributed free of charge.\",\"These are all the tender documents that you have purchased through our platform\":\"These are all the tender documents that you have purchased through our platform\",\"This email is already in use by another user.\":\"This email is already in use by another user.\",\"This email is already registered. If you\\u0027ve forgotten your password, please use the password reset link\":\"This email is already registered. If you\\u0027ve forgotten your password, please use the password reset link\",\"This mobile phone number is already in use by another user.\":\"This mobile phone number is already in use by another user.\",\"This mobile phone number is already registered. If you\\u0027ve forgotten your password, please use the password reset link\":\"This mobile phone number is already registered. If you\\u0027ve forgotten your password, please use the password reset link\",\"Starting your mobile payment is taking longer than usual. Please wait a moment and do not refresh or go back unless you see a failure message.\":\"Starting your mobile payment is taking longer than usual. Please wait a moment and do not refresh or go back unless you see a failure message.\",\"This phone number is already associated with this company.\":\"This phone number is already associated with this company.\",\"This sales rep user ID is already added in the database.\":\"This sales rep user ID is already added in the database.\",\"This section helps you track tenders tailored to your preferences. The list is generated based on your alert settings\":\"This section helps you track tenders tailored to your preferences. The list is generated based on your alert settings\",\"This step helps us make sure we have the right contact information for you.\":\"This step helps us make sure we have the right contact information for you.\",\"TikTok\":\"TikTok\",\"TIN\":\"TIN\",\"TIN (\\u1272\\u1295)\":\"TIN\",\"TIN is required\":\"TIN is required\",\"Title\":\"Title\",\"To avoid interruption, please renew your subscription by making the necessary payment. Payments can be made online via Tele Birr, bank transfer, or through various other payment options listed on this page.\":\"To avoid interruption, please renew your subscription by making the necessary payment. Payments can be made online via Tele Birr, bank transfer, or through various other payment options listed on this page.\",\"Too many attempts. Try again in $seconds seconds.\":\"Too many attempts. Try again in $seconds seconds.\",\"Too many resend attempts. Try again in $seconds seconds.\":\"Too many resend attempts. Try again in $seconds seconds.\",\"Total\":\"Total\",\"Trusted by\":\"Trusted by\",\"Twitter\":\"X (Twitter)\",\"Two-Factor Authentication\":\"Two-Factor Authentication\",\"Two-factor authentication is required by your role and cannot be disabled.\":\"Two-factor authentication is required by your role and cannot be disabled.\",\"Unable to start Telebirr payment. Please try again later.\":\"Unable to start Telebirr payment. Please try again later.\",\"Undelivered\":\"Undelivered\",\"Unlimited tender access\":\"Unlimited tender access\",\"Unpublished\":\"Unpublished\",\"Unread\":\"Unread\",\"Unsubscribe\":\"Unsubscribe\",\"Update alert settings\":\"Update alert settings\",\"Update email address\":\"Update email address\",\"Updated\":\"Updated\",\"Updated at\":\"Updated at\",\"Upgrade Your Subscription\":\"Upgrade Your Subscription\",\"Uploaded at\":\"Uploaded at\",\"Uploaded by\":\"Uploaded by\",\"Upon deleting your account, your current subscription will be terminated immediately, and all your personal information will be permanently deleted. Additionally, any remaining data associated with your account will be completely removed after a period of 90 days.\":\"Upon deleting your account, your current subscription will be terminated immediately, and all your personal information will be permanently deleted. Additionally, any remaining data associated with your account will be completely removed after a period of 90 days.\",\"Verification code\":\"Verification code\",\"Verification method\":\"Verification method\",\"Verify\":\"Verify\",\"Verify \\u0026 Continue\":\"Verify \\u0026 Continue\",\"Verify Email\":\"Verify Email\",\"Verify Mobile\":\"Verify Mobile\",\"Verify now\":\"Verify now\",\"Verify your email address by following the instructions in the account settings section.\":\"Verify your email address by following the instructions in the account settings section.\",\"View more free tenders\":\"View more free tenders\",\"View notifications\":\"View notifications\",\"View our FAQ\":\"View our FAQ\",\"View sales report\":\"View sales report\",\"View your document\":\"View your document\",\"Visit the paid documents section to browse and purchase.\":\"Visit the paid documents section to browse and purchase.\",\"Want to reach more venders?\":\"Want to reach more venders?\",\"We may occasionally send marketing messages via SMS or email.\":\"We may occasionally send marketing messages via SMS or email.\",\"We were unable to deliver any of your emails. Please ensure we have a valid email address on file.\":\"We were unable to deliver any of your emails. Please ensure we have a valid email address on file.\",\"We were unable to find any tender that matches your search. Clear your search criteria and try again.\":\"We were unable to find any tender that matches your search. Clear your search criteria and try again.\",\"We will also send the email directly to your email address.\":\"We will also send the email directly to your email address.\",\"Website\":\"Website\",\"Welcome to 2merkato\\u0027s Tender Alert Service!\":\"Welcome to 2merkato\\u0027s Tender Alert Service!\",\"Welcome!\":\"Welcome!\",\"What\\u0027s included\":\"What\\u0027s included\",\"Whoops, something went wrong on our servers.\":\"Whoops, something went wrong on our servers.\",\"You are currently not subscribed to this category. Subscribe now to receive alerts when new tenders are published in this category.\":\"You are currently not subscribed to this category. Subscribe now to receive alerts when new tenders are published in this category.\",\"You are not logged in\":\"You are not logged in\",\"You are subscribed to this category. You will receive alerts when tenders get posted under this category.\":\"You are subscribed to this category. You will receive alerts when tenders get posted under this category.\",\"You can activate your subscription easily by making a payment at our office, or by transferring the money to one of our bank accounts listed below.\":\"You can activate your subscription easily by making a payment at our office, or by transferring the money to one of our bank accounts listed below.\",\"You can also make the payment online with telebirr or M-Pesa.\":\"You can also make the payment online with telebirr or M-Pesa.\",\"You can also find all your previously purchased documents here.\":\"You can also find all your previously purchased documents here.\",\"You can download your document using the link below.\":\"You can download your document using the link below.\",\"You can register with an email address or mobile phone number.\":\"You can register with an email address or mobile phone number.\",\"You can renew your subscription easily by making a payment at our office, or by transferring the money to one of our bank accounts listed below.\":\"You can renew your subscription easily by making a payment at our office, or by transferring the money to one of our bank accounts listed below.\",\"You can turn off this setting if you do not wish to receive these notifications.\":\"You can turn off this setting if you do not wish to receive these notifications.\",\"You have no alert email\":\"You have no alert email\",\"You have no undelivered emails\":\"You have no undelivered emails\",\"You have no unread emails\":\"You have no unread emails\",\"You will lose access to any purchased tender documents.\":\"You will lose access to any purchased tender documents.\",\"You will lose access to our mobile app\":\"You will lose access to our mobile app\",\"You will no longer receive tender alerts\":\"You will no longer receive tender alerts\",\"Your 2merkato tender subscription\":\"Your 2merkato tender subscription\",\"your alert settings\":\"your alert settings\",\"Your bookmark is empty\":\"Your bookmark is empty\",\"Your current email address is\":\"Your current email address is\",\"Your current mobile address is\":\"Your current mobile address is\",\"Your Current Subscription\":\"Your Current Subscription\",\"Your details\":\"Your details\",\"Your father\\u0027s name\":\"Your father\\u0027s name\",\"Your file is ready for download. Click the button below to start your download.\":\"Your file is ready for download. Click the button below to start your download.\",\"Your M-Pesa mobile number\":\"Your M-Pesa mobile number\",\"Your mobile number\":\"Your mobile number\",\"Your name\":\"Your name\",\"Your password needs to be between 6 and 16 characters long\":\"Your password needs to be between 6 and 16 characters long\",\"Your password needs to be between 8 and 32 characters long\":\"Your password needs to be between 8 and 32 characters long\",\"Your payment has been successfully processed, and your subscription is now active. Below are the details of your current subscription:\":\"Your payment has been successfully processed, and your subscription is now active. Below are the details of your current subscription:\",\"Your document purchase is confirmed\":\"Your document purchase is confirmed\",\"Your purchase completed successfully.\":\"Your purchase completed successfully.\",\"Your subscription has expired\":\"Your subscription has expired\",\"Your subscription is about to expire\":\"Your subscription is about to expire\",\"Your subscription is currently inactive. To gain unlimited access to tenders, please activate your subscription by completing the necessary payment for your selected plan.\":\"Your subscription is currently inactive. To gain unlimited access to tenders, please activate your subscription by completing the necessary payment for your selected plan.\",\"Your subscription renewal has been successfully processed and is now active. Below are the details of your renewed subscription:\":\"Your subscription renewal has been successfully processed and is now active. Below are the details of your renewed subscription:\",\"Continue to Telebirr\":\"Continue to Telebirr\",\"Continue to Telebirr to complete your payment, then return to this page.\":\"Continue to Telebirr to complete your payment, then return to this page.\",\"Your telebirr mobile number\":\"Your telebirr mobile number\",\"This message is sent to you from 2merkato.\":\"This message is sent to you from 2merkato.\",\"Use this code to reset your password: :code\":\"Use this code to reset your password: :code\",\"YouTube\":\"YouTube\"};\n</script>\n</body>\n\n</html>\n"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Code2": [
      {
        "json": {
          "Title": "Debre Tabor universsity: ICT Infrastructure Support and Maintenance Services For Debre Tabor University",
          "Link": "https://tender.2merkato.com/tenders/6a3bd7fa0a538af48a000001",
          "Company": "Debre Tabor University",
          "ClosingDate": "N/A",
          "PublishedAt": "2026-06-24 16:20:24",
          "ID": "6a3bd7fa0a538af48a000001"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Title": "SOS Children's Villages in Ethiopia is inviting bids for facilities maintenance and renovation works at their Bahir Dar Program Location.",
          "Link": "https://tender.2merkato.com/tenders/6a3bcada0a538aa5fb000001",
          "Company": "SOS Children’s Villages Ethiopia",
          "ClosingDate": "2026-07-07 17:00:00",
          "PublishedAt": "2026-06-24 15:19:18",
          "ID": "6a3bcada0a538aa5fb000001"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Title": "The Ministry of Water and Energy (MOWE), with financing from the World Bank, is seeking expressions of interest from eligible consulting firms for the design, development, and operationalization of Impact-Based Flood Forecasting and Early Warning Systems (IBFFEWS) in Ethiopia's priority river basins.",
          "Link": "https://tender.2merkato.com/tenders/6a3bc6890a538af649000001",
          "Company": "Ministry of Water and Energy",
          "ClosingDate": "N/A",
          "PublishedAt": "2026-06-24 14:59:55",
          "ID": "6a3bc6890a538af649000001"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Title": "The International Organization for Migration (IOM) Ethiopia is requesting proposals for the provision of security services.",
          "Link": "https://tender.2merkato.com/tenders/6a3bc5c10a538af61e000001",
          "Company": "International Organization for Migration (IOM)",
          "ClosingDate": "N/A",
          "PublishedAt": "2026-06-24 15:27:32",
          "ID": "6a3bc5c10a538af61e000001"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Title": "ናሽናል ኦይል ኢትዮጵያ ኃ.የተ.ግ.ማህበር (ኖክ) ቃሊቲ መጋዘን ውስጥ ያሉትን ባለ 1ኛ ደረጃ ፓሌቶችን ባሉበት ሁኔታ በጨረታ አወዳድሮ መሸጥ ይፈልጋል",
          "Link": "https://tender.2merkato.com/tenders/6a3bc37c0a538a01f3000001",
          "Company": "National Oil Ethiopia PLC",
          "ClosingDate": "2026-06-30 17:00:00",
          "PublishedAt": "2026-06-24 14:50:17",
          "ID": "6a3bc37c0a538a01f3000001"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Title": "PUBLIC TENDER NOTICE FOR SALE OF GOVERNMENT OF ETHIOPIA TREASURY BILLS",
          "Link": "https://tender.2merkato.com/tenders/6a3bc1d30a538afae9000001",
          "Company": "National Bank of Ethiopia",
          "ClosingDate": "N/A",
          "PublishedAt": "2026-06-24 15:04:38",
          "ID": "6a3bc1d30a538afae9000001"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Title": "The United Nations World Food Programme (WFP) invites qualified local companies to submit Expressions of Interest (EOI) for the provision of Pest Control, Fumigation, Spraying, Rodent, and Termite Control Services in WFP and cooperating partners' warehouses across all regions of Ethiopia.",
          "Link": "https://tender.2merkato.com/tenders/6a3bc1bc0a538ab4a9000001",
          "Company": "United Nations World Food Programme (UNWFP)",
          "ClosingDate": "N/A",
          "PublishedAt": "2026-06-24 15:12:55",
          "ID": "6a3bc1bc0a538ab4a9000001"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Title": "Berhanena Selam Printing Enterprise is inviting international bidders for the supply of raw materials, specifically 10,000 KG of Art paper (80gm one side coated 44cm KG Reel Paper) and 10,000 KG of Paper sticker (44cm).",
          "Link": "https://tender.2merkato.com/tenders/6a3bc15a0a538afbb2000001",
          "Company": "Berhanena Selam Printing Enterprise",
          "ClosingDate": "N/A",
          "PublishedAt": "2026-06-24 15:08:44",
          "ID": "6a3bc15a0a538afbb2000001"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Title": "Cadila Pharmaceuticals Ethiopia PLC is seeking eligible organizations or individuals for cladding and painting works at its factory in Gelan City.",
          "Link": "https://tender.2merkato.com/tenders/6a3bbfde0a538a7fc0000001",
          "Company": "Cadila Pharmaceuticals (Ethiopia) P.L.C.",
          "ClosingDate": "N/A",
          "PublishedAt": "2026-06-24 15:22:05",
          "ID": "6a3bbfde0a538a7fc0000001"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Title": "ኤልፎራ አግሮ ኢንዱስትሪ ኃ/የተ/የግ/ማኅበር በስሩ ለሚገኝ ለሻሎ የእንሰሳት መኖ ማቀነባበሪያ ግብዓት የሚሆን ስጋ እና አጥንት በግልጽ ጨረታ ብቃቱ ያላቸውን ተጫራቾችን በግልጽ ጨረታ አወዳድሮ ለስድስት ወራት የሚሆን 4800 ኩንታል ጨረታ አወዳድሮ መግዛት ይፈልጋል",
          "Link": "https://tender.2merkato.com/tenders/6a3bbfaa0a538afbb2000001",
          "Company": "ELFORA Agro Industries P.L.C.",
          "ClosingDate": "N/A",
          "PublishedAt": "2026-06-24 15:11:03",
          "ID": "6a3bbfaa0a538afbb2000001"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Title": "የኢ.ፌ.ዴ.ሪ የመንግሥት ግዥ አገልግሎት ያገለገሉ ተሽከርካሪዎችን በግልጽ ጨረታ አወዳድሮ ለመሸጥ ይፈልጋል",
          "Link": "https://tender.2merkato.com/tenders/6a3bbf210a538a5d21000001",
          "Company": "Public Procurement & Property Administration Agency",
          "ClosingDate": "N/A",
          "PublishedAt": "2026-06-24 15:07:43",
          "ID": "6a3bbf210a538a5d21000001"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Title": "የአማራ ሴቶች ማህበር በሥሩ ለሚገኝ ፕሮጀክት ተጠቃሚዎች ተገቢውን አገልግሎት መስጠት የሚችሉ ተሽከርካሪ ይፈልጋል",
          "Link": "https://tender.2merkato.com/tenders/6a3bbdeb0a538aa24e000001",
          "Company": "Amhara women Association",
          "ClosingDate": "N/A",
          "PublishedAt": "2026-06-24 15:29:45",
          "ID": "6a3bbdeb0a538aa24e000001"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Title": "Lion Insurance Company (S.C) invites eligible and qualified bidders for the preparation and development of a Human Resource Management Manual and a Benefit Package.",
          "Link": "https://tender.2merkato.com/tenders/6a3bbcdc0a538aa24e000001",
          "Company": "Lion insurance company s.c",
          "ClosingDate": "N/A",
          "PublishedAt": "2026-06-24 14:30:13",
          "ID": "6a3bbcdc0a538aa24e000001"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Title": "ኦሮሚያ ባንክ አ.ማ. ንብረቶች ባሉበት በግልጽ ሐራጅ አወዳድሮ ለመሸጥ ይፈልጋል",
          "Link": "https://tender.2merkato.com/tenders/6a3bb9dc0a538aa5fb000001",
          "Company": "Oromia Bank S.C.",
          "ClosingDate": "N/A",
          "PublishedAt": "2026-06-24 14:48:34",
          "ID": "6a3bb9dc0a538aa5fb000001"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Title": "አዲስ ሕይወት አጠቃላይ ሆስፒታል የተለያዩ የበረንዳና መስኮት ግሪሎች፣ የኤሌክትሮኒክስ እቃዎች፣ ብረታ ብረቶች፣ የእንጨት በሮች፣ የዩፒኤስ ባትሪዎች እንዲሁም የተለያዩ የህክምና መሳሪያዎችን በጨረታ አወዳድሮ ለመሸጥ ይፈልጋል",
          "Link": "https://tender.2merkato.com/tenders/6a3bb3780a538aefe0000001",
          "Company": "Addis Hiwot General Hospital",
          "ClosingDate": "N/A",
          "PublishedAt": "2026-06-24 14:06:46",
          "ID": "6a3bb3780a538aefe0000001"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1c42646d-4f61-4f88-b020-7610bfecfb8b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "39a4a1f0941f8176e802c951678e3e557570a3346b85a99517ffefad700c6543"
  },
  "nodeGroups": [],
  "id": "6Shot4ROEoHXH2Ct",
  "tags": []
}